openapi: 3.1.0
info:
  title: Twilio Communications API
  version: preview
  contact:
    name: Twilio
    url: https://www.twilio.com
  x-logo:
    url: /docs.svg
  description: A comprehensive communications API for connecting people through software.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://comms.twilio.com/preview
    description: Twilio Communications API preview
security:
  - account_id_auth_token: []
  - api_key_api_key_secret: []
tags:
  - name: Contacts
    description: |-
      *Use `Contacts` to build and maintain a reliable directory of customers
      with validated communications addresses and identity profiles.*
  - name: Audiences
    description: |-
      *Build up `Audiences` to broadcast communications to larger audiences*.

       - Leverage them with `Messages`, `Emails`, `PushNotifications`
          and `Communications`.
  - name: Messages
    description: |-
      *Use `Messages` to send and receive RCS, SMS and MMS, Group MMS, and WhatsApp messages.*

      *Send with precise control over every aspect of your message
       or let Twilio share control and up-level your messaging with data-driven optimizations.*

      Messages supports:
       - Sending a Message to a single recipient
       - Sending Messages to many recipients in a single request
       - Sending Group Messages to facilitate communication between multiple people
       - Sending to both stored Contacts and/or directly specified messaging addresses (e.g. phone number)
       - Sending Messages to Contacts with multiple communication addresses: Twilio will choose the best channel.
       - Sending Messages to stored Audiences with per-recipient content personalization
       - Sending Messages with templated content that reference attributes of your stored Contacts
       - Sending Messages with rich content
       - Sending Messages with automatic suppression based on a Contact's preferences
       - Sending Messages with shortened, branded links that support click tracking.
       - Sending Messages scheduled for future delivery.
       - Receiving inbound Messages sent to your Twilio phone numbers.
       - Maintaining history of distinct communication sessions including both inbound and outbound Messages.
  - name: Emails
    description: |-
      *Use `Emails` to send and receive email with Twilio SendGrid.*
      *Use `Domains` to verify ownership and configure DNS for your domain name for sending `Emails`.*
      *Use `Email Senders` to set up a default address and name to send 'from' and to enable
       email for sending with `Communications`.*

      Emails supports:
       - Sending an Email to a single recipient
       - Sending Emails to many recipients in a single request
       - Sending to both stored Contacts and/or directly specified email addresses
       - Sending Emails to stored Audiences with per-recipient content personalization
       - Sending Emails with merged content that reference attributes of your stored Contacts
       - Sending Emails with branded links that support click tracking.
       - Sending Emails scheduled for future delivery.
       - Receiving inbound Email replies and relaying the event to you for handling.
  - name: PushNotifications
    description: |-
      🚧 *Use `PushNotifications` to send push notifications to your mobile apps
      via Firebase Cloud Messaging and Apple Push Notification services
      as well as other push-enabled services.*
  - name: Agents
    description: |-
      *Use `Agents` to build the sending and receiving identities that represent your business and applications.*

      - For 'outbound' communications, it is used as the sender of the communication (`from` field).

      - For 'inbound' communications to your app (sent by a Contact/end-user), it is used as the recipient (`to` field).

      - An Agent represents existing inventory created and setup in other APIs, such as Phone Numbers.

      - Use `AgentPools` to organize your `Agents` into logical groups to build multi-channel identities
      with multiple types of communications addresses (phone numbers, short codes, email addresses).
  - name: AgentPools
    description: |-
      *Use `Agents` to build the sending and receiving identities that represent your business and applications.*

      - For 'outbound' communications, it is used as the sender of the communication (`from` field).

      - For 'inbound' communications to your app (sent by a Contact/end-user), it is used as the recipient (`to` field).

      - An Agent represents existing inventory created and setup in other APIs, such as Phone Numbers.

      - Use `AgentPools` to organize your `Agents` into logical groups to build multi-channel identities
      with multiple types of communications addresses (phone numbers, short codes, email addresses).
paths:
  /Contacts:
    post:
      summary: Create Contacts
      operationId: CreateContacts
      description: This operation creates Contacts. A contact must have at least one address or a user_identifier supplied in order to be created.
      tags:
        - Contacts
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithOperation'
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: CreateContactsRequest
              type: object
              required:
                - contacts
              properties:
                contacts:
                  title: CreateContactsRequestContacts
                  type: array
                  items:
                    type: object
                    title: CreateContactsRequestContactsItem
                    description: Specify the Contact including their communications addresses and descriptors of their identity.
                    properties:
                      addresses:
                        type: array
                        description: The Contact’s communication addresses, such as phone number, email address, and push device token.
                        items:
                          $ref: '#/components/schemas/ContactAddress'
                      first_name:
                        type: string
                        description: The first name of the Contact.
                      last_name:
                        type: string
                        description: The last name of the Contact.
                      display_name:
                        type: string
                        description: |-
                          The name to associate with the address for sending and receiving communications,
                          visible for some types of communications like email.
                      user_identifier:
                        $ref: '#/components/schemas/UserIdentifier'
                      external_identifier:
                        $ref: '#/components/schemas/ExternalIdentifier'
                      location:
                        $ref: '#/components/schemas/ContactLocation'
                      date_of_birth:
                        description: Contact's date of birth.
                        format: YYYY-MM-DD
                        type: string
                      tags:
                        $ref: '#/components/schemas/Tags'
                      custom_fields:
                        $ref: '#/components/schemas/ContactCustomFields'
                  minItems: 1
            examples:
              CreateAContactWithAnEmailAddressPhoneNumberAndCustomFields:
                summary: Create a Contact with an email address, phone number and custom fields
                value:
                  contacts:
                    - first_name: Ivan
                      last_name: Lee
                      display_name: Ivan Lee
                      user_identifier: 3c35422849fea46d37b099ae59fae22c
                      external_identifier: 006E0000004TguX
                      addresses:
                        - channel: phone
                          address: '+37259000000'
                        - channel: email
                          address: ilee@example.com
                      custom_fields:
                        favorite_color:
                          value: purple
                        favorite_number:
                          value: 42
                        is_favorite_color_purple:
                          value: true
                        colors:
                          value:
                            - purple
                            - blue
                            - green
              CreateAContactWithAnEmailAddressAndPhoneNumber:
                summary: Create a Contact with an email address and phone number
                value:
                  contacts:
                    - first_name: Don
                      last_name: Conama
                      display_name: Don
                      user_identifier: '+37259000011'
                      external_identifier: 006E0000004TguX
                      addresses:
                        - channel: phone
                          address: '+37259000011'
                        - channel: email
                          address: don.conama@example.com
                      tags:
                        shirt_size: X-Large
              CreateAContactWithAPushDeviceTokenAndSmsAddressForAMobileApp:
                summary: Create a Contact with a push device token and sms address for a mobile app
                value:
                  contacts:
                    - first_name: David
                      last_name: Pletnjov
                      display_name: David Pletnjov
                      addresses:
                        - channel: push
                          address: comms_deviceregistrations_01h9krwprkeee8fzqspvwy6nq8
                        - channel: phone
                          address: '+37259000022'
              CreateAContactWithPushDeviceTokensFor2DifferentMobileApps:
                summary: Create a Contact with push device tokens for 2 different mobile apps
                value:
                  contacts:
                    - first_name: David
                      last_name: Pletnjov
                      display_name: David Pletnjov
                      addresses:
                        - channel: push
                          address: comms_deviceregistrations_01h9krwprkeee8fzqspvwy6nq8
                        - channel: push
                          address: comms_deviceregistrations_8fzqspvwy6nq801h9krwprkeee
    get:
      summary: List Contacts
      operationId: ListContacts
      description: This operation fetches a paginated list of Contacts.
      tags:
        - Contacts
      parameters:
        - in: query
          name: operation_id
          description: Filter to Contacts by operation ID.
          schema:
            $ref: '#/components/schemas/OperationId'
        - in: query
          name: contact_ids
          description: List of contact ids for filtering the contacts.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContactId'
            minItems: 1
            maxItems: 100
        - in: query
          name: page_token
          description: The token to retrieve the next page of results.
          schema:
            $ref: '#/components/schemas/PageToken'
        - in: query
          name: page_size
          description: The number of resources to return in a page.
          schema:
            $ref: '#/components/schemas/PageSize'
        - in: query
          name: tags
          description: |-
            Match contacts by one or many tags. If more than one tag is specified in the query, the search will return contacts that have all the tags.
            For Example:  ``` GET /Contacts?tags=age_group:20s;industry:engineering; ```
          schema:
            $ref: '#/components/schemas/TagsString'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListContactsResponse
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
                required:
                  - contacts
                  - pagination
              examples:
                FirstPageOfContactsForListReadWithNoFilter:
                  summary: First page of Contacts for list read with no filter
                  value:
                    contacts:
                      - id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                        first_name: Jane
                        last_name: Doe
                        display_name: Jane Doe
                        user_identifier: 3c35422849fea46d37b099ae59fae22c
                        external_identifier: 006E0000004TguX
                        addresses:
                          - channel: email
                            address: janedoe@example.com
                        created_at: '2022-08-24T14:15:22Z'
                        updated_at: '2023-09-13T12:00:24Z'
                        deleted_at: null
                      - id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                        first_name: Don
                        last_name: Conama
                        related:
                          - name: operation
                            id: comms_operation_01h9krwprkeee8fzqspvwy6nq8
                            uri: /Contacts/Operations/comms_operation_01h9krwprkeee8fzqspvwy6nq8
                        display_name: Don Conama
                        user_identifier: don.conama@example.com
                        external_identifier: 006E0000004TguX
                        addresses:
                          - channel: email
                            address: don.conama@example.com
                        created_at: '2019-08-24T14:15:22Z'
                        updated_at: '2023-08-24T14:15:22Z'
                        deleted_at: null
                        custom_fields:
                          favorite_color:
                            value: purple
                          favorite_number:
                            value: 42
                          is_favorite_color_purple:
                            value: true
                    pagination:
                      next: page_01h9krwprkeee8fzqspvwy6nq9
                      self: https://comms.twilio.com/v1/Contacts
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Contacts/{contact_id}:
    parameters:
      - schema:
          $ref: '#/components/schemas/ContactId'
        name: contact_id
        in: path
        required: true
    get:
      summary: Fetch a Contact
      operationId: FetchSingleContact
      description: This operation fetches a single contact using its ID.
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
              examples:
                FetchContact:
                  summary: Fetch Contact
                  value:
                    id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                    first_name: Ivan
                    last_name: Lee
                    display_name: Ivan Lee
                    user_identifier: 3c35422849fea46d37b099ae59fae22c
                    external_identifier: 006E0000004TguX
                    addresses:
                      - channel: phone
                        address: '+37259000000'
                      - channel: email
                        address: ilee@example.com
                      - channel: push
                        address: limonade_app
                    created_at: '2019-08-24T14:15:22Z'
                    updated_at: '2023-10-02T11:20:00Z'
                    deleted_at: null
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
    patch:
      summary: Update a Contact
      operationId: UpdateContact
      description: This operation partially updates a Contact
      tags:
        - Contacts
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: UpdateContactRequest
              type: object
              nullable: true
              properties:
                first_name:
                  description: The first name of the Contact.
                  type: string
                last_name:
                  description: The last name of the Contact.
                  type: string
                display_name:
                  type: string
                  description: The name associated with the address for sending and receiving communications, visible for some types of communications like email.
                addresses:
                  title: UpdateContactAddresses
                  description: |-
                    This replaces the `addresses` array. 
                    Leave `null` to leave addresses unchanged.
                    Set to empty array to remove all addresses.
                    To add/remove individual addresses use the Contact Addresses API endpoints.
                  type: array
                  nullable: true
                  items:
                    $ref: '#/components/schemas/ContactAddress'
                tags:
                  $ref: '#/components/schemas/TagsNullable'
                custom_fields:
                  $ref: '#/components/schemas/ContactCustomFieldsNullable'
            examples:
              UpdateContactAddresses:
                summary: Update Contact addresses
                value:
                  addresses:
                    - channel: phone
                      address: '+37259000000'
                    - channel: email
                      address: ipletnjov@example.com
              UpdateContactTags:
                summary: Update Contact tags
                value:
                  tags:
                    shirt_size: X-Large
              UpdateContactCustomFields:
                summary: Update Contact custom fields
                value:
                  custom_fields:
                    favorite_color:
                      value: purple
                    favorite_number:
                      value: 42
                    is_favorite_color_purple:
                      value: true
                    colors:
                      value:
                        - purple
                        - blue
                        - green
    delete:
      summary: Delete a Contact
      operationId: DeleteContact
      description: This operation deletes a Contact
      tags:
        - Contacts
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Contacts/{contact_id}/Addresses:
    parameters:
      - schema:
          $ref: '#/components/schemas/ContactId'
        name: contact_id
        in: path
        required: true
    get:
      summary: List of Contact Addresses
      operationId: ListContactAddresses
      description: This operation fetches list of contact addresses
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListContactAddressesResponse
                type: object
                properties:
                  addresses:
                    title: ListContactAddressesResponseAddresses
                    description: List of the provided `Contact`'s communication addresses
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactAddress'
                required:
                  - addresses
              examples:
                ListOfContactAddresses:
                  summary: List of contact addresses
                  value:
                    addresses:
                      - channel: email
                        address: beetlejuice@example.com
                      - channel: phone
                        address: '+37259000000'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
    post:
      summary: Add Addresses to the Contact
      operationId: AddContactAddresses
      description: This operation adds addresses to the contact
      tags:
        - Contacts
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: AddContactAddressesRequest
              type: object
              properties:
                addresses:
                  title: AddContactAddressesRequestAddresses
                  description: A list of communication addresses to add to the `Contact`
                  type: array
                  items:
                    $ref: '#/components/schemas/ContactAddress'
                  minItems: 1
              required:
                - addresses
            examples:
              AddAddressesToTheContact:
                summary: Add addresses to the Contact
                value:
                  addresses:
                    - channel: phone
                      address: '+37259000000'
              AddMultipleAddressesToTheContact:
                summary: Add multiple addresses to the Contact
                value:
                  addresses:
                    - channel: phone
                      address: '+37259000000'
                    - channel: push
                      address: limonade_app
    delete:
      summary: Delete Addresses from the Contact
      operationId: DeleteContactAddresses
      description: This operation deletes Contact Addresses
      tags:
        - Contacts
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: DeleteContactAddressesRequest
              type: object
              properties:
                addresses:
                  title: DeleteContactAddressesRequestAddresses
                  type: array
                  items:
                    title: DeleteContactAddressesRequestAddressItem
                    type: object
                    description: A list of communication addresses to remove from the `Contact`
                    properties:
                      channel:
                        $ref: '#/components/schemas/ContactCommunicationChannel'
                      address:
                        $ref: '#/components/schemas/Address'
                  minItems: 1
              required:
                - addresses
            examples:
              DeleteContactPhoneAddress:
                summary: Delete Contact phone address
                value:
                  addresses:
                    - channel: phone
                      address: '+37259000000'
              DeleteAllContactEmailAddresses:
                summary: Delete all email addresses for Contact
                value:
                  addresses:
                    - channel: email
  /Contacts/{contact_id}/Tags:
    parameters:
      - schema:
          $ref: '#/components/schemas/ContactId'
        name: contact_id
        in: path
        required: true
    get:
      summary: List of Contact Tags
      operationId: ListContactTags
      description: This operation fetches list of contact tags
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListContactTagsResponse
                type: object
                properties:
                  tags:
                    type: object
                    $ref: '#/components/schemas/Tags'
                required:
                  - tags
              examples:
                ListOfContactTags:
                  summary: List of contact tags
                  value:
                    tags:
                      campaign1: fb-leads-ad-7
                      campaign2: fb-leads-ad-8
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
    post:
      summary: Add Tags to the Contact
      operationId: AddContactTags
      description: This operation adds tags to the contact
      tags:
        - Contacts
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: AddContactTagRequest
              type: object
              properties:
                tags:
                  $ref: '#/components/schemas/Tags'
              required:
                - tags
            examples:
              AddTagsToTheContact:
                summary: Add tags to the Contact
                value:
                  tags:
                    campaign1: fb-leads-ad-7
                    campaign2: fb-leads-ad-8
    delete:
      summary: Delete Tags from the Contact
      operationId: DeleteContactTags
      description: This operation deletes Contact Tags
      tags:
        - Contacts
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: DeleteContactTagsRequest
              type: object
              properties:
                tags:
                  type: array
                  description: The list of tag keys to be deleted from the contact
                  items:
                    type: string
            examples:
              DeleteContactTags:
                summary: Delete Contact tags
                value:
                  tags:
                    - fb-leads-ad-7
                    - fb-leads-ad-8
  /Contacts/Search:
    post:
      summary: Search Contacts
      operationId: SearchContacts
      description: Search for contacts based on the specified criteria.
      tags:
        - Contacts
      parameters:
        - in: query
          name: page_token
          description: The token to retrieve the next page of results.
          schema:
            $ref: '#/components/schemas/PageToken'
        - in: query
          name: page_size
          description: The number of resources to return in a page.
          schema:
            $ref: '#/components/schemas/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: SearchContactsResponse
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
                required:
                  - contacts
                  - pagination
              examples:
                PageOfContactsForTheSearch:
                  summary: First page of Contacts for the search request
                  value:
                    contacts:
                      - id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                        first_name: Jane
                        last_name: Doe
                        display_name: Jane Doe
                        user_identifier: 3c35422849fea46d37b099ae59fae22c
                        external_identifier: 006E0000004TguX
                        addresses:
                          - channel: email
                            address: jane.doe@example.com
                        created_at: '2022-08-24T14:15:22Z'
                        updated_at: '2023-09-13T12:00:24Z'
                        deleted_at: null
                      - id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                        first_name: john
                        last_name: doe
                        related:
                          - name: operation
                            id: comms_operation_01h9krwprkeee8fzqspvwy6nq8
                            uri: /Contacts/Operations/comms_operation_01h9krwprkeee8fzqspvwy6nq8
                        display_name: John Doe
                        user_identifier: john.doe@example.com
                        external_identifier: 006E0000004TguX
                        addresses:
                          - channel: email
                            address: beetlejuice@example.com
                        created_at: '2019-08-24T14:15:22Z'
                        updated_at: '2023-08-24T14:15:22Z'
                        deleted_at: null
                    pagination:
                      next: page_01h9krwprkeee8fzqspvwy6nq9
                      self: https://comms.twilio.com/v1/Contacts/Search
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: SearchContactsRequest
              type: object
              properties:
                channels:
                  type: array
                  items:
                    $ref: '#/components/schemas/CommunicationChannel'
                  description: Match contacts with by their communications channel of the Contact (phone number, email, push device token). If more than one channel is specified in the query, the search will return contacts that have all the channels.
                address:
                  type: string
                  description: Match contacts with the exact address specified.
                user_identifier:
                  $ref: '#/components/schemas/UserIdentifier'
                first_name:
                  description: Match contacts by their first name. This field is fuzzy and case insensitive. If you search for "JohN", you will get "John", "Johnny", "Johnathan", etc. If you search for "tan", you will get "Johnathan", "Stanley", etc. You must specify at least three characters to begin the search.
                  type: string
                  minLength: 3
                last_name:
                  description: Match contacts by their last name. This field is fuzzy and case insensitive, so if you search for "cOn", you will get "Conama", "Conan", "Conrad", etc. If you search for "mon", you will get "Montoya", "Lemon", etc. You must specify at least three characters to begin the search.
                  type: string
                  minLength: 3
                tags:
                  description: Match contacts by one or many tags. If more than one tag is specified, the search will return contacts that have all the tags.
                  $ref: '#/components/schemas/Tags'
  /Contacts/Operations:
    get:
      summary: List Contact Operations
      operationId: ListContactOperations
      description: This operation fetches a paginated list of Contact Operations.
      tags:
        - Contacts
      parameters:
        - in: query
          name: status
          description: Filter to Operations with the specified status.
          schema:
            $ref: '#/components/schemas/OperationStatus'
        - in: query
          name: page_token
          description: The token to retrieve the next page of results.
          schema:
            $ref: '#/components/schemas/PageToken'
        - in: query
          name: page_size
          description: The number of resources to return in a page.
          schema:
            $ref: '#/components/schemas/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListContactOperationsResponse
                type: object
                properties:
                  operations:
                    type: array
                    description: A list of Contact Operations.
                    items:
                      $ref: '#/components/schemas/ContactOperation'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
                required:
                  - operations
                  - pagination
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Contacts/Operations/{operation_id}:
    parameters:
      - schema:
          $ref: '#/components/schemas/OperationId'
        name: operation_id
        in: path
        required: true
    get:
      summary: Fetch a Contact Operation
      operationId: FetchContactOperation
      description: This operation fetches a single Contact Operation using its ID.
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactOperation'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Contacts/Fields:
    post:
      summary: Create a New Contact Custom Field
      operationId: CreateContactCustomField
      description: Create a new Contact Custom Field.
      tags:
        - Contacts
      requestBody:
        required: true
        description: This operation creates a new Contact Custom Field.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ContactFieldString'
                - $ref: '#/components/schemas/ContactFieldNumber'
                - $ref: '#/components/schemas/ContactFieldBoolean'
                - $ref: '#/components/schemas/ContactFieldStringArray'
                - $ref: '#/components/schemas/ContactFieldEnum'
            examples:
              StringCustomField:
                summary: Create a contact custom field of type string
                value:
                  name: favorite_color
                  type: string
              BooleanCustomField:
                summary: Create a contact custom field of type boolean
                value:
                  name: is_purple_my_favorite_color
                  type: boolean
              NumberCustomField:
                summary: Create a contact custom field of type number
                value:
                  name: favorite_number
                  type: number
              EnumCustomField:
                summary: Create a contact custom field of type enum
                value:
                  name: favorite_sport
                  type: enum
                  values:
                    - soccer
                    - football
                    - baseball
                    - hockey
                    - basketball
                    - pickle ball
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
    get:
      summary: List Contact Fields
      operationId: ListContactFields
      description: List all contact fields, both custom and standard.
      tags:
        - Contacts
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: ListContactsFieldsResponse
                type: object
                properties:
                  fields:
                    description: List of standard contact fields, these fields are always present.
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactStandardField'
                  custom_fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactCustomField'
                    maxItems: 10
              examples:
                GetContactsFields:
                  summary: Get Contact Fields
                  value:
                    fields:
                      - name: first_name
                        type: string
                        is_filterable: true
                      - name: last_name
                        type: string
                        is_filterable: true
                    custom_fields:
                      - id: comms_customfield_01h9krwprkeee8fzqspvwy6nq8
                        name: favorite_color
                        type: string
                        values: []
                        is_filterable: false
                        created_at: '2019-08-24T14:15:22Z'
                        updated_at: '2023-10-02T11:20:00Z'
                        deleted_at: null
                      - id: comms_customfield_01h9krwprkeee8fzqspvwy6nq9
                        name: is_purple_my_favorite_color
                        type: boolean
                        values: []
                        is_filterable: false
                        created_at: '2019-08-24T14:15:22Z'
                        updated_at: '2023-10-02T11:20:00Z'
                        deleted_at: null
                      - id: comms_customfield_01h9krwprkeee8fzqspvwy6nq7
                        name: favorite_number
                        type: string
                        values: []
                        is_filterable: false
                        created_at: '2019-08-24T14:15:22Z'
                        updated_at: '2023-10-02T11:20:00Z'
                        deleted_at: null
                      - id: comms_customfield_01h9krwprkeee8fzqspvwy6nq6
                        name: favorite_sports
                        type: enum
                        values:
                          - soccer
                          - football
                          - baseball
                          - hockey
                          - basketball
                          - pickle ball
                        is_filterable: false
                        created_at: '2019-08-24T14:15:22Z'
                        updated_at: '2023-10-02T11:20:00Z'
                        deleted_at: null
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Contacts/Fields/{custom_field_id}:
    parameters:
      - schema:
          $ref: '#/components/schemas/ContactCustomFieldId'
        name: custom_field_id
        in: path
        required: true
    get:
      summary: Fetch a Contact Field
      operationId: FetchSingleContactField
      description: This operation fetches a single contact field using its ID. *Currently it's only applicable to custom fields.*
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCustomField'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
    patch:
      summary: Update a Contact Custom Field
      operationId: UpdateContactCustomField
      description: This operation partially updates a Contact Custom Field
      tags:
        - Contacts
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: UpdateContactCustomFieldRequest
              type: object
              properties:
                values:
                  type: array
                  items:
                    type: string
            examples:
              UpdateContactCustomFieldValues:
                summary: Update Contact Custom Field values
                value:
                  values:
                    - purple
                    - red
                    - green
    delete:
      summary: Delete a Contact Custom Field
      operationId: DeleteContactCustomField
      description: This operation deletes a Contact Custom Field.
      tags:
        - Contacts
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Audiences:
    post:
      summary: Create an Audience
      operationId: CreateAudience
      description: |-
        This operation creates an Audience. There are three different types of audiences.
        - **Static Audience** - This is the standard type of audience. It is created with a name,
          optionally some tags and then Contacts are manually added or removed from it.

        - **Dynamic Audience** - This is an audience whose Contact list is made up based upon a filter.
          The filter is required and the results of the filter are the audience. It is not possible to
          manually add/remove contacts to this audience. When you go to list the contacts on this
          audience they are a close-to-real-time representation of the results of the filter. This means
          that if the audience has a filter where  `favorite_color = 'purple'` and that field is set
          on a new contact it should appear in the audience as soon as possible. The filter for this
          audience is saved on the audience and can be viewed from the API.

          Filters can contain the standard fields: `created_at`, `updated_at`, `addresses.channel`, `location.city`,
          `location.state`, `location.country_code`. Filters can also check for the presence of tags by key
          `Contact.tags = 'NAMER'`, and they can use custom fields that are marked as `is_filterable = true`.


        - **Snapshot Audience** - This behaves like the default audience after it has been created, but
          it allows for a powerful way to pre-populate the audience with contacts upon creation.
          This is done by providing a filter when creating the audience and setting the snapshot field
          to true. The contacts that match the filter will be added to the list, but if a contact matches
          later to the filter it will need to be added manually. Contacts can be added and removed manually
          to the list after they have been created. The filter for this audience is not saved on the audience
          as it is a one time operation.

          Filters can contain the standard fields: `created_at`, `updated_at`, `addresses.channel`, `location.city`,
          `location.state`, `location.country_code`. Filters can also check for the presence of tags by key
          `Contact.tags = 'NAMER'`, and they can use custom fields that are marked as `is_filterable = true`.
      tags:
        - Audiences
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithOperation'
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: CreateAudienceRequest
              type: object
              description: This operation creates Audiences.
              properties:
                name:
                  type: string
                  description: A name for the Audience.
                filter:
                  $ref: '#/components/schemas/AudienceFilter'
                snapshot:
                  type: boolean
                  description: |-
                    If true, the Audience will be created with the current Contacts that match the filter.
                    *The audience will not be updated as contacts change in the future and the filter is not saved for reference later.*
                tags:
                  x-twilio-version: preview
                  $ref: '#/components/schemas/Tags'
              required:
                - name
            examples:
              CreateAudience:
                summary: Create Audience
                value:
                  name: FB Lead Ads - New Sign Ups
                  tags:
                    campaign: fb-leads-ad-7
    get:
      summary: List Audiences
      operationId: ListAudiences
      description: This operation fetches a paginated list of Audiences.
      tags:
        - Audiences
      parameters:
        - in: query
          name: operation_id
          description: Filter to Audiences by operation ID.
          schema:
            $ref: '#/components/schemas/OperationId'
        - in: query
          name: page_token
          description: The token to retrieve the next page of results.
          schema:
            $ref: '#/components/schemas/PageToken'
        - in: query
          name: page_size
          description: The number of resources to return in a page.
          schema:
            $ref: '#/components/schemas/PageSize'
        - in: query
          name: tags
          description: |-
            Match audiences by one or many tags. If more than one tag is specified in the query, the search will return audiences that have all the tags.
            For example: ``` GET /Audiences?tags=age_group:20s;industry:engineering; ```
          schema:
            $ref: '#/components/schemas/TagsString'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListAudiencesResponse
                type: object
                properties:
                  audiences:
                    type: array
                    items:
                      $ref: '#/components/schemas/Audience'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
                required:
                  - audiences
                  - pagination
              examples:
                ListAudiences:
                  summary: List Audiences
                  value:
                    audiences:
                      - id: comms_audience_01h9krwprkeee8fzqspvwy6nq8
                        name: Repeat Buyers
                        total_contacts: 1337
                        tags:
                          country_code: US
                        created_at: '2023-08-24T14:15:22Z'
                        updated_at: '2023-08-24T14:15:22Z'
                        deleted_at: null
                      - id: comms_audience_01h9krwprkeee8fzqspvwy6nq9
                        name: Technology & Finance Contacts
                        total_contacts: 78
                        filter: Contact.location.country_code == 'US' AND Contact.custom_fields.industry IN('Technology', 'Finance')
                        tags: {}
                        created_at: '2023-08-24T14:15:22Z'
                        updated_at: '2023-08-24T14:15:22Z'
                        deleted_at: null
                    pagination:
                      next: null
                      self: https://comms.twilio.com/v1/Audiences
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Audiences/{audience_id}:
    parameters:
      - schema:
          $ref: '#/components/schemas/AudienceId'
        name: audience_id
        in: path
        required: true
    get:
      summary: Fetch an Audience
      operationId: FetchSingleAudience
      description: This operation fetches a single Audience using its ID.
      tags:
        - Audiences
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
              examples:
                StaticAudience:
                  summary: Static Audience
                  value:
                    id: comms_audience_01h9krwprkeee8fzqspvwy6nq8
                    name: Repeat Buyers
                    total_contacts: 1337
                    tags:
                      country_code: US
                    created_at: '2023-08-24T14:15:22Z'
                    updated_at: '2023-08-24T14:15:22Z'
                    deleted_at: null
                DynamicAudience:
                  summary: Dynamic Audience
                  value:
                    id: comms_audience_01h9krwprkeee8fzqspvwy6nq9
                    name: Technology & Finance Contacts
                    total_contacts: 78
                    filter: Contact.location.country_code == 'US' AND Contact.custom_fields.industry IN('Technology', 'Finance')
                    tags: {}
                    created_at: '2023-08-24T14:15:22Z'
                    updated_at: '2023-08-24T14:15:22Z'
                    deleted_at: null
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
    patch:
      summary: Update an Audience
      operationId: UpdateAudience
      description: This operation partially updates an Audience
      tags:
        - Audiences
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: UpdateAudienceRequest
              type: object
              nullable: true
              properties:
                name:
                  type: string
                filter:
                  $ref: '#/components/schemas/AudienceFilter'
                tags:
                  x-twilio-version: preview
                  $ref: '#/components/schemas/TagsNullable'
            examples:
              UpdateAudienceSName:
                summary: Update Audience's name
                value:
                  name: New Name
              UpdateAudienceSTags:
                summary: Update Audience's tags
                value:
                  tags:
                    group_size: X-Large
              ChangeAnAudienceSFilter:
                summary: Change an Audience's filter
                value:
                  filter: Contact.location.country_code == 'US' AND Contact.custom_fields.industry IN('Technology', 'Telecom')
    delete:
      summary: Delete an Audience
      operationId: DeleteAudience
      description: This operation deletes an Audience using its ID.
      tags:
        - Audiences
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Audiences/{audience_id}/Contacts:
    parameters:
      - schema:
          $ref: '#/components/schemas/AudienceId'
        name: audience_id
        in: path
        required: true
    post:
      summary: Add Contacts to an Audience
      operationId: AddContactsToAudience
      description: This operation adds list of Contacts to an Audience
      tags:
        - Audiences
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: AddContactsToAudienceRequest
              type: object
              properties:
                contact_ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/ContactId'
            examples:
              AddContactsToAudience:
                summary: Add Contacts to Audience
                value:
                  contact_ids:
                    - comms_contact_01h9krwprkeee8fzqspvwy6nq8
                    - comms_contact_01h9krwprkeee8fzqspvwy6nq9
    get:
      summary: List Contacts in an Audience
      operationId: ListContactsInAudience
      description: This operation fetches a paginated list of Contacts that belong to an Audience.
      tags:
        - Audiences
      parameters:
        - in: query
          name: page_token
          description: The token to retrieve the next page of results.
          schema:
            $ref: '#/components/schemas/PageToken'
        - in: query
          name: page_size
          description: The number of resources to return in a page.
          schema:
            $ref: '#/components/schemas/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListContactsInAudienceResponse
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
              examples:
                PageOfContactsThatBelongToAnAudience:
                  summary: Page of Contacts that belong to an Audience
                  value:
                    contacts:
                      - id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                        first_name: Jane
                        last_name: Doe
                        display_name: Jane Doe
                        addresses:
                          - channel: email
                            address: jane.doe@example.com
                        audiences:
                          - audience_id: comms_audience_01h9krwprkeee8fzqspvwy6nq9
                        created_at: '2019-08-24T14:15:22Z'
                        updated_at: '2019-08-24T14:15:22Z'
                        deleted_at: null
                      - id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                        first_name: John
                        last_name: Doe
                        display_name: John Doe
                        addresses:
                          - channel: email
                            address: john.doe@example.com
                        audiences:
                          - audience_id: comms_audience_01h9krwprkeee8fzqspvwy6nq9
                        created_at: '2019-08-24T14:15:22Z'
                        updated_at: '2019-08-24T14:15:22Z'
                        deleted_at: null
                    pagination:
                      next: null
                      self: https://comms.twilio.com/v1/Audiences/comms_audience_01h9krwprkeee8fzqspvwy6nq9/Contacts
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Audiences/{audience_id}/Contacts/{contact_id}:
    parameters:
      - schema:
          $ref: '#/components/schemas/AudienceId'
        name: audience_id
        in: path
        required: true
      - schema:
          $ref: '#/components/schemas/ContactId'
        name: contact_id
        in: path
        required: true
    delete:
      summary: Remove a Contact from an Audience
      operationId: RemoveContactFromAudience
      description: This operation removes a Contact from an Audience
      tags:
        - Audiences
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Audiences/{audience_id}/Tags:
    parameters:
      - schema:
          $ref: '#/components/schemas/AudienceId'
        name: audience_id
        in: path
        required: true
    get:
      summary: List of Audience Tags
      operationId: ListAudienceTags
      description: This operation fetches list of audience tags
      tags:
        - Audiences
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListAudienceTagsResponse
                type: object
                properties:
                  tags:
                    type: object
                    $ref: '#/components/schemas/Tags'
                required:
                  - tags
              examples:
                ListOfAudienceTags:
                  summary: List of audience tags
                  value:
                    tags:
                      campaign1: fb-leads-ad-7
                      campaign2: fb-leads-ad-8
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
    post:
      summary: Add Tags to an Audience
      operationId: AddAudienceTags
      description: This operation adds tags to an Audience
      tags:
        - Audiences
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: AddAudienceTagsRequest
              type: object
              properties:
                tags:
                  x-twilio-version: preview
                  $ref: '#/components/schemas/Tags'
              required:
                - tags
            examples:
              AddTagsToTheAudience:
                summary: Add Tags to an Audience
                value:
                  tags:
                    campaign1: fb-leads-ad-7
                    campaign2: fb-leads-ad-8
    delete:
      summary: Delete Tags from an Audience
      operationId: DeleteAudienceTags
      description: This operation deletes Tags from an Audience
      tags:
        - Audiences
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithResource'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: DeleteAudienceTagsRequest
              type: object
              properties:
                tags:
                  type: array
                  description: The list of tag keys to be deleted from an Audience
                  items:
                    type: string
            examples:
              DeleteAudienceTags:
                summary: Delete Audience tags
                value:
                  tags:
                    - fb-leads-ad-7
                    - fb-leads-ad-8
  /Audiences/Operations:
    get:
      summary: List Audience Operations
      operationId: ListAudienceOperations
      description: This operation fetches a paginated list of Audience Operations.
      tags:
        - Audiences
      parameters:
        - in: query
          name: status
          description: Filter to Operations with the specified status.
          schema:
            $ref: '#/components/schemas/OperationStatus'
        - in: query
          name: page_token
          description: The token to retrieve the next page of results.
          schema:
            $ref: '#/components/schemas/PageToken'
        - in: query
          name: page_size
          description: The number of resources to return in a page.
          schema:
            $ref: '#/components/schemas/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListAudienceOperationsResponse
                type: object
                properties:
                  operations:
                    type: array
                    description: A list of Audience Operations.
                    items:
                      $ref: '#/components/schemas/ContactOperation'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
                required:
                  - operations
                  - pagination
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Audiences/Operations/{operation_id}:
    parameters:
      - schema:
          $ref: '#/components/schemas/OperationId'
        name: operation_id
        in: path
        required: true
    get:
      summary: Fetch an Audience Operation
      operationId: FetchAudienceOperation
      description: This operation fetches a single Audience Operation using its ID.
      tags:
        - Audiences
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactOperation'
        '400':
          $ref: '#/components/responses/Http400Response'
        '404':
          $ref: '#/components/responses/Http404Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
  /Emails:
    post:
      summary: Send Emails
      operationId: SendEmails
      description: This operation creates and sends out emails to the specified recipients.
      tags:
        - Emails
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithOperation'
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: SendEmailsRequest
              type: object
              description: A request to send one or more Emails.
              properties:
                from:
                  title: SendEmailsRequestFrom
                  description: |-
                    The sending identity to associate with the `Email`.

                    - Use `EmailAddressSender` to directly specify the email address that the Email
                       will appear to come 'from'.
                  oneOf:
                    - $ref: '#/components/schemas/EmailAddressSender'
                to:
                  title: SendEmailsRequestTo
                  type: array
                  description: A list of recipients to send the email(s) to.
                  items:
                    title: SendEmailsRecipient
                    oneOf:
                      - title: SendEmailsAddressRecipient
                        description: An email address and associated name that define a recipient.
                        type: object
                        properties:
                          address:
                            type: string
                            description: The email address of the person or entity.
                            format: email
                          name:
                            type: string
                            description: The name of the person or entity.
                          variables:
                            $ref: '#/components/schemas/ContentPersonalization'
                        required:
                          - address
                      - title: SendEmailsProfileRecipient
                        type: object
                        description: A Twilio `Profile` identified by `Profile.Id`.
                        properties:
                          profile_id:
                            $ref: '#/components/schemas/ProfileId'
                          variables:
                            $ref: '#/components/schemas/ContentPersonalization'
                        required:
                          - profile_id
                      - title: SendEmailsContactRecipient
                        type: object
                        description: A Twilio `Contact` identified by `Contact.Id`.
                        properties:
                          contact_id:
                            $ref: '#/components/schemas/ContactId'
                          variables:
                            $ref: '#/components/schemas/ContentPersonalization'
                        required:
                          - contact_id
                content:
                  title: SendEmailsRequestContent
                  description: |-
                    The content of the Email.
                    - Use `EmailContent` to supply a `text/html` email body.
                      Optionally provide a `plain/text` body for clients that do not support HTML.
                      If none is specified, Twilio will auto-create one from your HTML email body.

                    ***
                    * Use the [Liquid](https://shopify.github.io/liquid/) templating language for personalization in any text-based field.
                    * When using a templated content, use the `variables` field on each recipient to specify the values to substitute.
                    * For each variable you specify in your template, you should have a matching key in each recipient's `variables` object.
                                
                    * When targeting `Profile` or `Contact` recipients, you may specify `variables` with values that reference stored fields, including custom fields, on the `Profile` or `Contact` -- for example: `${Twilio.Profile.date_last_purchase}` `${Twilio.Contact.first_name}` or `${Twilio.Contact.my_custom_field}`.
                  oneOf:
                    - $ref: '#/components/schemas/EmailHtmlContent'
                reply_to:
                  title: SendEmailsRequestReplyTo
                  description: |-
                    A list of recipients to send replies to when the recipient of this email attempts to reply.
                    This field can be templated with [Liquid](https://shopify.github.io/liquid/). Specify `variables` with each recipient for personalization.
                  type: array
                  items:
                    title: SendEmailsRequestReplyToRecipient
                    oneOf:
                      - $ref: '#/components/schemas/EmailAddressRecipient'
                      - $ref: '#/components/schemas/ProfileRecipient'
                      - $ref: '#/components/schemas/ContactRecipient'
                cc:
                  title: SendEmailsRequestCC
                  type: array
                  description: |-
                    A list of recipients to carbon-copy ('cc') emails to.
                    Recipients will have visibility of each other's addresses.

                    This field can be templated with [Liquid](https://shopify.github.io/liquid/).
                    Specify `variables` with each recipient for personalization.
                  maxItems: 50
                  items:
                    title: SendEmailsRequestCCRecipient
                    oneOf:
                      - $ref: '#/components/schemas/EmailAddressRecipient'
                      - $ref: '#/components/schemas/ProfileRecipient'
                      - $ref: '#/components/schemas/ContactRecipient'
                bcc:
                  title: SendEmailsRequestBCC
                  type: array
                  description: |-
                    A list of recipients to blindly carbon-copy ('cc') emails to.
                    Recipients will NOT have visibility of each other's addresses.

                    This field can be templated with [Liquid](https://shopify.github.io/liquid/).
                    Specify `variables` with each recipient for personalization.
                  maxItems: 50
                  items:
                    title: SendEmailsRequestBCCRecipient
                    oneOf:
                      - $ref: '#/components/schemas/EmailAddressRecipient'
                      - $ref: '#/components/schemas/ProfileRecipient'
                      - $ref: '#/components/schemas/ContactRecipient'
                tags:
                  $ref: '#/components/schemas/Tags'
                schedule:
                  $ref: '#/components/schemas/Schedule'
                ip_pool_name:
                  type: string
                  description: |-
                    The name of the IP Pool to use for sending Emails.

                    If not specified, all dedicated IPs associated with your
                    account will be considered for sending. 

                    IP pools are only available to accounts with dedicated IPs.

                    This field can be templated with [Liquid](https://shopify.github.io/liquid/).
                    Specify `variables` with each recipient for personalization.
                  minLength: 2
                  maxLength: 64
              required:
                - from
                - to
                - content
            examples:
              SendFromToDirectEntities:
                summary: Send from, to direct entities
                value:
                  from:
                    address: support@example.company.io
                    name: Cool Co Support
                  to:
                    - address: bob@example.com
                      name: Bob Smith
                  content:
                    subject: 'Re: Wedding Cake'
                    text: Hey, the cake is ready.
                    html: <html><body>Hey, <br/><br/>Cake</b></body></html>
                    attachments: []
              SendToProfileWithPersonalization:
                summary: Send to Contact with Contact-referencing personalization
                value:
                  from:
                    address: support@example.company.io
                    name: Cool Co Support
                  to:
                    - profile_id: mem_profile_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        name: ${Twilio.profile.first_name}
                  content:
                    subject: Wedding Cake
                    text: Hey {{ name }}, your cake is ready.
                    html: '<html><body>Hey, {{ name | default: ''there'' }}, your cake is ready.<br/><br/></body></html>'
                    attachments: []
              SendAScheduledEmail:
                summary: Send a scheduled Email
                value:
                  from:
                    address: support@example.company.io
                    name: Cool Co Support
                  to:
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        name: ${Twilio.Contact.first_name}
                        is_vip: ${Twilio.Contact.is_vip}
                  content:
                    subject: Wedding Cake
                    text: Hey {{ name }}, your cake will be ready for pickup tomorrow morning. {% if is_vip %} Thanks for your continued business, we've included a special treat for you! {% endif %}
                    html: '<html><body>Hey, {{ name | default: ''there'' }}, your cake is ready.<br/><br/> {% if is_vip %} <p>Thanks for your continued business, we''ve included a special treat for you!</p> {% endif %} </body></html>'
                    attachments: []
                  schedule:
                    send_at:
                      - '2023-12-15T14:15:22Z'
              SendWithCustomHeaders:
                summary: Send email with custom headers and footer
                value:
                  from:
                    address: marketing@example.com
                    name: Marketing Team
                  to:
                    - address: customer@example.com
                      name: Valued Customer
                  content:
                    subject: Special Offer for You
                    html: <html><body><h1>Exclusive Deal!</h1><p>Check out our latest offers.</p></body></html>
                    text: Exclusive Deal! Check out our latest offers.
                    headers:
                      X-Campaign-ID: CAMPAIGN-2025-Q1
                      X-Customer-Segment: VIP
                      X-Priority: '1'
                    footer:
                      enabled: true
                      html: <p style="font-size:11px;color:#666;">Marketing Team, Example Inc. | <a href="[unsubscribe]">Unsubscribe</a> | 123 Main St, San Francisco, CA 94105</p>
                      text: 'Marketing Team, Example Inc. | Unsubscribe: [unsubscribe] | 123 Main St, San Francisco, CA 94105'
              SendWithIPPool:
                summary: Send email using dedicated IP pool
                value:
                  from:
                    address: alerts@example.com
                    name: Alert System
                  to:
                    - address: admin@example.com
                      name: System Administrator
                  content:
                    subject: System Alert - High Priority
                    html: <html><body><h1>Alert</h1><p>Immediate attention required.</p></body></html>
                  ip_pool_name: transactional_pool
              SendTemplateWithHeadersAndIPPool:
                summary: Send template-based email with headers and IP pool
                value:
                  from:
                    address: newsletter@example.com
                    name: Newsletter Team
                  to:
                    - address: subscriber@example.com
                      name: John Subscriber
                      variables:
                        first_name: John
                  content:
                    subject: January Newsletter
                    html: '<html><body><h1>Newsletter</h1><p>Greetings {{ first_name | default: ''Subscribers'' }}, it''s January!</p></body></html>'
                    headers:
                      X-Newsletter-Edition: 2025-01
                      X-Subscriber-Tier: Premium
                  ip_pool_name: marketing_pool
                  tags:
                    campaign: monthly_newsletter
                    edition: january_2025
  /Messages:
    post:
      summary: Send Messages
      operationId: SendMessages
      description: This operation creates and sends out messages to the specified recipients.
      tags:
        - Messages
      responses:
        '202':
          $ref: '#/components/responses/Http202ResponseWithOperation'
        '400':
          $ref: '#/components/responses/Http400Response'
        '429':
          $ref: '#/components/responses/Http429Response'
        '500':
          $ref: '#/components/responses/Http500Response'
        '503':
          $ref: '#/components/responses/Http503Response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: SendMessagesRequest
              type: object
              properties:
                to:
                  title: SendMessagesRequestTo
                  description: |-
                    An array of recipient objects to send the message(s) to.

                    - Use `AddressRecipient` to describe the recipient by their
                    address.

                    - Use `ConnectedAddressRecipient` to send a message to a recipient
                      with multiple addresses, Twilio will select the optimal channel and perform
                      retries across channels (if necessary).

                    - Use `ContactRecipient` to reference a stored `Contact`.

                    - Use `ContactRecipientFinder` to reference a stored `Contact` by a field
                      other than the `Contact.Id`.

                    - Use `AudienceRecipient` to send a message to an audience.

                    - Use `GroupRecipient` for group messaging.
                  type: array
                  minItems: 1
                  maxItems: 10000
                  items:
                    title: SendMessagesRecipient
                    oneOf:
                      - type: object
                        title: SendMessagesAddressRecipient
                        description: The address and channel to reach your recipient.
                        allOf:
                          - $ref: '#/components/schemas/MessageAddressRecipient'
                          - $ref: '#/components/schemas/RecipientVariables'
                      - type: object
                        title: SendMessagesConnectedAddressRecipient
                        description: A recipient with multiple address for Messaging. Provide a list of addresses for a recipient and Twilio will pick the best one.  Twilio will automatically handle errors and retry across channels if necessary.
                        properties:
                          addresses:
                            type: array
                            items:
                              $ref: '#/components/schemas/MessageAddressRecipient'
                            minItems: 1
                            maxItems: 10
                          variables:
                            $ref: '#/components/schemas/ContentPersonalization'
                        required:
                          - addresses
                      - type: object
                        title: SendMessagesContactRecipient
                        description: A Twilio `Contact` identified by `Contact.Id`.
                        properties:
                          contact_id:
                            $ref: '#/components/schemas/ContactId'
                          variables:
                            $ref: '#/components/schemas/ContentPersonalization'
                        required:
                          - contact_id
                      - type: object
                        title: SendMessagesAudienceRecipient
                        description: A Twilio `Audience` identified by `Audience.Id`.
                        properties:
                          audience_id:
                            $ref: '#/components/schemas/AudienceId'
                          variables:
                            $ref: '#/components/schemas/ContentPersonalization'
                        required:
                          - audience_id
                content:
                  title: SendMessagesRequestContent
                  type: object
                  description: |-
                    The content of the Message.

                    - Use `MessageContentTextWithMedia` to send a Message with just text and/or media.

                    - Use `MessageContentTemplate` to reference a stored `Content` template.

                    - Use `MessageContentChannelModules` to send rich content and 
                      different content per channel.

                    ***

                    * Use the [Liquid](https://shopify.github.io/liquid/)
                    templating language for personalization in any text-based field.

                    * When using a templated content,
                    use the `variables` field on each recipient to specify
                    the values to substitute.

                    * For each variable you specify in your template, you should have
                    a matching key in each recipient's `variables` object.

                    * For each variable in your template, you may also specify a default in
                    `default_variables`.

                    * When targeting an `Audience`, it is *mandatory* to define defaults
                    in `default_variables` for all variables in the template.

                    * When targeting `Audience` or `Contact` recipients, you may specify `variables`
                    with values that reference stored fields, including custom fields,
                    on the `Contact` -- for example:
                    `${Twilio.Contact.first_name}` or `${Twilio.Contact.my_custom_field}`.
                  oneOf:
                    - $ref: '#/components/schemas/MessageContentTextWithMedia'
                    - $ref: '#/components/schemas/MessageContentTemplate'
                    - $ref: '#/components/schemas/MessageContentChannelModules'
                from:
                  title: SendMessagesRequestFrom
                  description: The sending identity to associate with the Message(s).
                  oneOf:
                    - $ref: '#/components/schemas/MessageAddressSender'
                    - $ref: '#/components/schemas/AgentIdSender'
                    - $ref: '#/components/schemas/MessageAgentPoolIdSender'
                schedule:
                  x-twilio-version: 1
                  $ref: '#/components/schemas/Schedule'
                tags:
                  x-twilio-version: 1
                  $ref: '#/components/schemas/Tags'
              required:
                - to
                - content
            examples:
              SendSimplestSms:
                summary: Send simplest sms
                value:
                  to:
                    - address: '+14153902337'
                      channel: phone
                  content:
                    text: Hello, World!
              SendASimpleSms:
                summary: Send a simple sms
                value:
                  from:
                    address: '+14153901002'
                    channel: sms
                  to:
                    - address: '+12065558844'
                      channel: phone
                  content:
                    text: Hello, World!
              SendAMessageToOneRecipientWaRcsMmsSmsThatHasMultipleAddresses:
                summary: Send a Message to one recipient (wa, rcs, mms, sms) that has multiple addresses
                value:
                  from:
                    address: '+14153901002'
                    channel: sms
                  to:
                    - addresses:
                        - address: '+12065558844'
                          channel: whatsapp
                        - address: '+12065558844'
                          channel: phone
                  content:
                    text: Hello, World!
              SendOneMessageFromAgentToContact:
                summary: Send one Message from Agent to Contact
                value:
                  from:
                    agent_id: comms_agent_01h9krwprkeee8fzqspvwy6nq8
                  to:
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                  content:
                    text: Hello, World!
              SendRcsMessagesToMultipleRecipients:
                summary: Send rcs Messages to multiple recipients
                value:
                  from:
                    address: rbm_abc123_agent
                    channel: rcs
                  to:
                    - address: '+14153979999'
                      channel: phone
                    - address: '+12065558063'
                      channel: phone
                  content:
                    text: Hello, World!
              SendSmsMessagesToMultipleContactRecipients:
                summary: Send sms Messages to multiple Contact recipients
                value:
                  from:
                    address: '+14155551002'
                    channel: sms
                  to:
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                  content:
                    text: Hello, World!
              SendMessagesFromAnAgentToMultipleContactRecipients:
                summary: Send Messages from an Agent to multiple Contact recipients
                value:
                  from:
                    agent_id: comms_agent_01h9krwprkeee8fzqspvwy6nq8
                  to:
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                  content:
                    text: Hello, World!
              SendMessagesFromAgentPoolToAMixOfRecipientTypes:
                summary: Send Messages from Agent Pool to a mix of recipient types
                value:
                  from:
                    agent_pool_id: comms_agentpool_01h9krwprkeee8fzqspvwy6nq8
                    filter_in:
                      - sms
                      - rcs
                  to:
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                    - address: '+17773178001'
                      channel: phone
                  content:
                    text: Hello, World!
              SendMultipleMessagesWithPersonalization:
                summary: Send multiple Messages with personalization
                value:
                  from:
                    agent_id: comms_agent_01h9krwprkeee8fzqspvwy6nq8
                  to:
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        first_name: John
                        last_name: Doe
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        first_name: Jane
                        last_name: Doe
                  content:
                    text: Hello, {{ first_name }} {{ last_name }}!
              SendMultipleMessagesWithContactReferencePersonalization:
                summary: Send multiple Messages with Contact reference personalization
                value:
                  from:
                    agent_id: comms_agent_01h9krwprkeee8fzqspvwy6nq8
                  to:
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        first_name: ${Twilio.Contact.first_name}
                        last_name: ${Twilio.Contact.last_name}
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        first_name: ${Twilio.Contact.first_name}
                        last_name: ${Twilio.Contact.last_name}
                  content:
                    text: Hello, {{ first_name }} {{ last_name }}!
                    default_variables:
                      first_name: Valued
                      last_name: Customer
              SendMessagesToAudienceWithPersonalization:
                summary: Send Messages to Audience with personalization
                value:
                  from:
                    agent_id: comms_agent_01h9krwprkeee8fzqspvwy6nq8
                  to:
                    - audience_id: comms_audience_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        first_name: ${Twilio.Contact.first_name}
                        last_name: ${Twilio.Contact.last_name}
                        gender: ${Twilio.Contact.gender}
                    - audience_id: comms_audience_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        first_name: ${Twilio.Contact.first_name}
                        last_name: ${Twilio.Contact.last_name}
                        gender: ${Twilio.Contact.gender}
                  content:
                    text: Hello, {% unless last_name == '' or gender == 'other' %} {% case gender %} {% when 'male' %} Mr. {{last_name}} ! {% when 'female' %} Ms. {{last_name}} ! {% else %} {{first_name}} ! {% endcase %} {% else %} {{first_name}} ! {% endif %}
                    default_variables:
                      first_name: Valued Customer
                      last_name: ''
                      gender: other
              SendMessagesConstrainedToWhatsappAndSms:
                summary: Send Messages, constrained to whatsapp, and sms
                value:
                  from:
                    agent_pool_id: comms_agentpool_01h9krwprkeee8fzqspvwy6nq8
                    filter_in:
                      - whatsapp
                      - sms
                  to:
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        first_name: John
                        last_name: Doe
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                      variables:
                        first_name: Jane
                        last_name: Doe
                  content:
                    text: Hello, {{ first_name }} {{ last_name }}!
                    default_variables:
                      first_name: Valued
                      last_name: Customer
                    media:
                      - url: https://cdn.bikinibottom.com/bikinibottom.jpg
              AddAMessageAndParticipantToAnExistingSession:
                summary: Add a Message and Participant to an existing Session
                value:
                  from:
                    address: '+19144178063'
                    channel: sms
                  to:
                    - contact_id: comms_contact_01h9krwprkeee8fzqspvwy6nq8
                  session_id: comms_session_01h9krwprkeee8fzqspvwy6nq8
                  content:
                    text: Hey, I don't think I can see the entrance.
              SendAMessageWithMedia:
                summary: Send a message with media
                value:
                  from:
                    address: '+14158871002'
                    channel: sms
                  to:
                    - address: '+19144178063'
                      channel: phone
                  content:
                    media:
                      - url: https://example.com/steelers.jpg
                      - url: https://example.com/cowboys.png
              SendAScheduledSms:
                summary: Send a scheduled sms
                value:
                  from:
                    address: '+14153901002'
                    channel: sms
                  to:
                    - address: '+12065558844'
                      channel: phone
                  content:
                    text: Hello, World!
                  schedule:
                    send_at:
                      - '2030-04-01T10:04:01Z'
              SendAMessageWithAutomaticSuppressionManagement:
                summary: Send a message with automatic suppression management
                value:
                  from:
                    address: '+14153901002'
                    channel: sms
                  to:
                    - address: '+12065558844'
                      channel: phone
                  content:
                    text: Hello, World!
                  use_preference:
                    preference_id: comms_preference_01h9krwprkeee8fzqspvwy6nq8
              SendAMessageWithJustRecipientAndContent:
[...]
