{
  "openapi": "3.1.0",
  "info": {
    "title": "Twilio Communications API",
    "version": "v1",
    "contact": {
      "name": "Twilio",
      "url": "https://www.twilio.com"
    },
    "x-logo": {
      "url": "/docs.svg"
    },
    "description": "A comprehensive communications API for connecting people through software.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://comms.twilio.com/v1",
      "description": "Twilio Communications API v1"
    }
  ],
  "security": [
    {
      "accountIdAuthToken": []
    },
    {
      "apiKeyApiKeySecret": []
    }
  ],
  "tags": [
    {
      "name": "Messages",
      "description": "*Use `Messages` to send and receive RCS, SMS and MMS, and WhatsApp messages.*\n\n*Send with precise control over every aspect of your message\n or let Twilio share control and up-level your messaging with data-driven optimizations.*"
    },
    {
      "name": "Emails",
      "description": "*Use `Emails` to send and receive email with Twilio SendGrid.*"
    },
    {
      "name": "PushNotifications",
      "description": "*Use `PushNotifications` to send push notifications to your mobile apps\nvia Firebase Cloud Messaging and Apple Push Notification services.*"
    },
    {
      "name": "Senders",
      "description": "*Use `Senders` to build the sending and receiving identities that represent your business and applications.*\n\n- For 'outbound' communications, it is used as the sender of the communication (`from` field).\n\n- For 'inbound' communications to your app (sent by a Profile/end-user), it is used as the recipient (`to` field).\n\n- A Sender represents existing inventory created and setup in other APIs, such as Phone Numbers.\n\n- Use `SenderPools` to organize your `Senders` into logical groups to build multi-channel identities\nwith multiple types of communications addresses (phone numbers, short codes, email addresses)."
    },
    {
      "name": "SenderPools",
      "description": "*Use `Senders` to build the sending and receiving identities that represent your business and applications.*\n\n- For 'outbound' communications, it is used as the sender of the communication (`from` field).\n\n- For 'inbound' communications to your app (sent by a Profile/end-user), it is used as the recipient (`to` field).\n\n- A Sender represents existing inventory created and setup in other APIs, such as Phone Numbers.\n\n- Use `SenderPools` to organize your `Senders` into logical groups to build multi-channel identities\nwith multiple types of communications addresses (phone numbers, short codes, email addresses)."
    }
  ],
  "paths": {
    "/Emails": {
      "x-twilio-domain": "emails",
      "post": {
        "summary": "Send Emails",
        "operationId": "SendEmails",
        "x-twilio-version": 1,
        "description": "This operation creates and sends out emails to the specified recipients.",
        "tags": [
          "Emails"
        ],
        "responses": {
          "202": {
            "x-twilio-version": 1,
            "description": "The request was accepted and an Operation was created to track its progress. The response body contains the ID and link to the Operation resource.",
            "headers": {
              "Location": {
                "x-twilio-version": 1,
                "schema": {
                  "$ref": "#/components/schemas/OperationLocation"
                },
                "description": "The location (uri) of the Operation resource.\nIssue a GET request to this URI to retrieve the status of the Operation."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http202ResponseWithOperationBody"
                },
                "examples": {
                  "SendEmailsAccepted": {
                    "summary": "Send Emails request accepted",
                    "x-twilio-version": 1,
                    "value": {
                      "operationId": "comms_operation_01h9krwprkeee8fzqspvwy6nq8",
                      "operationLocation": "https://comms.twilio.com/v1/Emails/Operations/comms_operation_01h9krwprkeee8fzqspvwy6nq8"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SendEmailsRequest",
                "type": "object",
                "description": "A request to send one or more Emails.",
                "properties": {
                  "from": {
                    "title": "SendEmailsRequestFrom",
                    "description": "The sending identity to associate with the `Email`.",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/EmailAddressSender"
                      }
                    ]
                  },
                  "to": {
                    "title": "SendEmailsRequestTo",
                    "type": "array",
                    "description": "A list of recipients to send the email(s) to.",
                    "items": {
                      "title": "SendEmailsRecipient",
                      "oneOf": [
                        {
                          "title": "SendEmailsAddressRecipient",
                          "description": "Specify a recipient using their email address and associated name.",
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "The email address of the person or entity.",
                              "format": "email"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the person or entity."
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "address"
                          ]
                        },
                        {
                          "title": "SendEmailsProfileRecipient",
                          "type": "object",
                          "description": "Specify a recipient by their Twilio `Profile` identified by ID & Memory Store ID.",
                          "properties": {
                            "profileId": {
                              "$ref": "#/components/schemas/ProfileId"
                            },
                            "memoryStoreId": {
                              "$ref": "#/components/schemas/MemoryStoreId"
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "profileId",
                            "memoryStoreId"
                          ]
                        },
                        {
                          "title": "SendEmailsGroupRecipient",
                          "type": "object",
                          "description": "A group recipient contains a list of recipients \nand one set of personalization variables for the group.",
                          "properties": {
                            "group": {
                              "title": "SendEmailsGroup",
                              "description": "The group of recipients to send the email to.",
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "$ref": "#/components/schemas/EmailAddress"
                                  },
                                  {
                                    "$ref": "#/components/schemas/ProfileRecipient"
                                  }
                                ]
                              }
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "group"
                          ]
                        }
                      ]
                    }
                  },
                  "content": {
                    "title": "SendEmailsRequestContent",
                    "description": "The content of the Email.\n***\n* Use the [Liquid](https://shopify.github.io/liquid/) templating language for personalization in any text-based field.\n* When using a templated content, use the `variables` field on each recipient to specify the values to substitute.\n* For each variable you specify in your template, you should have a matching key in each recipient's `variables` object.\n            \n* When targeting `Profile` recipients, you may specify `variables` with values that reference stored traits, on the `Profile` -- for example: `${Twilio.Profile.dateLastPurchase}` `${Twilio.Profile.firstName}` or `${Twilio.Profile.myCustomField}`.",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/EmailHtmlContent"
                      }
                    ]
                  },
                  "tags": {
                    "$ref": "#/components/schemas/Tags"
                  },
                  "schedule": {
                    "$ref": "#/components/schemas/Schedule"
                  },
                  "ipPoolName": {
                    "type": "string",
                    "description": "The name of the IP Pool to use for sending Emails.\n\nIf not specified, all dedicated IPs associated with your\naccount will be considered for sending. \n\nIP pools are only available to accounts with dedicated IPs.\n\nThis field can be templated with [Liquid](https://shopify.github.io/liquid/).\nSpecify `variables` with each recipient for personalization.",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "from",
                  "to",
                  "content"
                ]
              },
              "examples": {
                "SendSimpleEmail": {
                  "x-twilio-version": 1,
                  "summary": "Send simple Email",
                  "value": {
                    "from": {
                      "address": "support@example.company.io",
                      "name": "Cool Co Support"
                    },
                    "to": [
                      {
                        "address": "bob@example.com",
                        "name": "Bob Smith"
                      }
                    ],
                    "content": {
                      "subject": "Re: Wedding Cake",
                      "text": "Hey, the cake is ready.",
                      "html": "<html><body>Hey, <br/><br/>Cake</b></body></html>",
                      "attachments": []
                    }
                  }
                },
                "SendToProfiles": {
                  "x-twilio-version": 1,
                  "summary": "Send to multiple Profiles",
                  "value": {
                    "from": {
                      "address": "team@example-company.com",
                      "name": "Example Company Team"
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      },
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      }
                    ],
                    "content": {
                      "subject": "Wedding Cake",
                      "text": "Hey you, your cake is ready.",
                      "html": "<html><body>Hey you, your cake is ready.<br/><br/></body></html>",
                      "attachments": []
                    }
                  }
                },
                "SendFromToDirectEntitiesWithPersonalization": {
                  "x-twilio-version": 1,
                  "summary": "Send from, to direct entities with personalization",
                  "value": {
                    "from": {
                      "address": "support@example.company.io",
                      "name": "Cool Co Support"
                    },
                    "to": [
                      {
                        "address": "jane.doe@example.com",
                        "variables": {
                          "firstName": "Jane",
                          "lastName": "Doe"
                        }
                      },
                      {
                        "address": "john.doe@example.com",
                        "variables": {
                          "firstName": "John",
                          "lastName": "Doe"
                        }
                      }
                    ],
                    "content": {
                      "subject": "Wedding Cake",
                      "text": "Hey {{ firstName | default: 'there' }} {{ lastName }}, your cake is ready.",
                      "html": "<html><body>Hey {{ firstName | default: 'there' }} {{ lastName }}, your cake is ready.<br/><br/></body></html>",
                      "attachments": []
                    }
                  }
                },
                "SendToProfileWithPersonalization": {
                  "x-twilio-version": 1,
                  "summary": "Send to Profile with Profile-referencing personalization",
                  "value": {
                    "from": {
                      "address": "support@example.company.io",
                      "name": "Cool Co Support"
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000",
                        "variables": {
                          "name": "${Twilio.profile.firstName}"
                        }
                      }
                    ],
                    "content": {
                      "subject": "Wedding Cake",
                      "text": "Hey {{ name }}, your cake is ready.",
                      "html": "<html><body>Hey, {{ name | default: 'there' }}, your cake is ready.<br/><br/></body></html>",
                      "attachments": []
                    }
                  }
                },
                "SendAScheduledEmail": {
                  "x-twilio-version": 1,
                  "summary": "Send a scheduled Email",
                  "value": {
                    "from": {
                      "address": "support@example.company.io",
                      "name": "Cool Co Support"
                    },
                    "to": [
                      {
                        "name": "John Dough",
                        "address": "john.dough@examplemail.com"
                      }
                    ],
                    "content": {
                      "subject": "Wedding Cake",
                      "text": "Hi Mr. Dough, your cake will be ready for pickup tomorrow morning. Thanks for your continued business, we've included a special treat for you!",
                      "html": "<html><body>Hi Mr. Dough, your cake is ready.<br/><br/> <p>Thanks for your continued business, we've included a special treat for you!</p> </body></html>",
                      "attachments": []
                    },
                    "schedule": {
                      "sendAt": [
                        "2023-12-15T14:15:22Z"
                      ]
                    }
                  }
                },
                "SendWithCustomHeaders": {
                  "x-twilio-version": 1,
                  "summary": "Send email with custom headers and footer",
                  "value": {
                    "from": {
                      "address": "marketing@example.com",
                      "name": "Marketing Team"
                    },
                    "to": [
                      {
                        "address": "customer@example.com",
                        "name": "Valued Customer"
                      }
                    ],
                    "content": {
                      "subject": "Special Offer for You",
                      "html": "<html><body><h1>Exclusive Deal!</h1><p>Check out our latest offers.</p></body></html>",
                      "text": "Exclusive Deal! Check out our latest offers.",
                      "headers": {
                        "X-Campaign-ID": "CAMPAIGN-2025-Q1",
                        "X-Customer-Segment": "VIP",
                        "X-Priority": "1"
                      },
                      "footer": {
                        "enabled": true,
                        "html": "<p style=\"font-size:11px;color:#666;\">Marketing Team, Example Inc. | <a href=\"[unsubscribe]\">Unsubscribe</a> | 123 Main St, San Francisco, CA 94105</p>",
                        "text": "Marketing Team, Example Inc. | Unsubscribe: [unsubscribe] | 123 Main St, San Francisco, CA 94105"
                      }
                    }
                  }
                },
                "SendWithIPPool": {
                  "x-twilio-version": 1,
                  "summary": "Send email using dedicated IP pool",
                  "value": {
                    "from": {
                      "address": "alerts@example.com",
                      "name": "Alert System"
                    },
                    "to": [
                      {
                        "address": "admin@example.com",
                        "name": "System Administrator"
                      }
                    ],
                    "content": {
                      "subject": "System Alert - High Priority",
                      "html": "<html><body><h1>Alert</h1><p>Immediate attention required.</p></body></html>"
                    },
                    "ipPoolName": "transactionalPool"
                  }
                },
                "SendTemplateWithHeadersAndIPPool": {
                  "x-twilio-version": 1,
                  "summary": "Send template-based email with headers and IP pool",
                  "value": {
                    "from": {
                      "address": "newsletter@example.com",
                      "name": "Newsletter Team"
                    },
                    "to": [
                      {
                        "address": "subscriber@example.com",
                        "name": "John Subscriber",
                        "variables": {
                          "firstName": "John"
                        }
                      }
                    ],
                    "content": {
                      "subject": "January Newsletter",
                      "html": "<html><body><h1>Newsletter</h1><p>Greetings {{ firstName | default: 'Subscribers' }}, it's January!</p></body></html>",
                      "headers": {
                        "X-Newsletter-Edition": "2025-01",
                        "X-Subscriber-Tier": "Premium"
                      }
                    },
                    "ipPoolName": "marketingPool",
                    "tags": {
                      "campaign": "monthlyNewsletter",
                      "edition": "january_2025"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Emails",
        "operationId": "ListEmails",
        "x-twilio-version": 1,
        "description": "This operation fetches a paginated list of Emails.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "operationId",
            "description": "Filter to Emails created in a specific Operation.",
            "schema": {
              "$ref": "#/components/schemas/OperationId"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter Emails created after the specified date and time."
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter Emails created before the specified date and time."
          },
          {
            "in": "query",
            "name": "profile",
            "description": "Filter Emails sent or received by a specific Profile.",
            "schema": {
              "$ref": "#/components/schemas/ProfileId"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter Emails by Delivery Status.",
            "schema": {
              "$ref": "#/components/schemas/EmailStatus"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Match emails by one or many tags. If more than one tag is specified in the query, the search will return emails that have all the tags.\nFor Example:  ``` GET /Emails?tags=ageGroup:20s;industry:engineering; ```",
            "schema": {
              "$ref": "#/components/schemas/TagsString"
            }
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "The token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The number of resources to return in a page.",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListEmailsResponse",
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailMetadata"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  },
                  "required": [
                    "emails",
                    "pagination"
                  ]
                },
                "examples": {
                  "ListOfEmails": {
                    "x-twilio-version": 1,
                    "summary": "List of Emails",
                    "value": {
                      "emails": [
                        {
                          "id": "comms_email_01h9krwprkeee8fzqspvwy6nq8",
                          "content": {
                            "subject": "An Introduction",
                            "text": "Hello, World!",
                            "html": "<html><body>Hello, World!</body></html>",
                            "attachments": []
                          },
                          "from": {
                            "address": "support@example.com",
                            "name": "Cool Support"
                          },
                          "to": [
                            {
                              "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                              "memoryStoreId": "mem_store_00000000000000000000000000",
                              "address": "janedoe@example.com",
                              "name": "Jane Doe"
                            }
                          ],
                          "replyTo": [],
                          "cc": [
                            {
                              "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                              "memoryStoreId": "mem_store_00000000000000000000000000",
                              "address": "jane.doe@example.com",
                              "name": "Jane Doe"
                            }
                          ],
                          "bcc": [],
                          "status": "OPENED",
                          "related": [
                            {
                              "name": "OPERATION",
                              "id": "comms_operation_01h9krwprkeee8fzqspvwy6nq8",
                              "uri": "https://comms.twilio.com/v1/Emails/Operations/comms_operation_01h9krwprkeee8fzqspvwy6nq8"
                            },
                            {
                              "name": "SESSION",
                              "id": "comms_session_01h9krwprkeee8fzqspvwy6nq8",
                              "uri": "https://comms.twilio.com/v1/Sessions/comms_session_01h9krwprkeee8fzqspvwy6nq8"
                            },
                            {
                              "name": "SENDER",
                              "id": "comms_sender_01h9krwprkeee8fzqspvwy6nq8",
                              "uri": "https://comms.twilio.com/v1/Senders/comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                            }
                          ],
                          "tags": {},
                          "scheduledFor": null,
                          "createdAt": "2023-08-24T14:15:22Z",
                          "updatedAt": "2023-08-24T14:15:22Z",
                          "deletedAt": null
                        },
                        {
                          "id": "comms_email_01h9krwprkeee8fzqspvwy6nq8",
                          "content": {
                            "subject": "An Introduction",
                            "text": "Hello, World!",
                            "html": "<html><body>Hello, World!</body></html>",
                            "attachments": []
                          },
                          "from": {
                            "address": "support@example.com",
                            "name": "Acme Support"
                          },
                          "to": [
                            {
                              "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                              "memoryStoreId": "mem_store_00000000000000000000000000",
                              "address": "janedoe@example.com",
                              "name": "Jane Doe"
                            }
                          ],
                          "replyTo": [],
                          "cc": [],
                          "bcc": [],
                          "status": "OPENED",
                          "related": [
                            {
                              "name": "OPERATION",
                              "id": "comms_operation_01h9krwprkeee8fzqspvwy6nq8",
                              "uri": "https://comms.twilio.com/v1/Emails/Operations/comms_operation_01h9krwprkeee8fzqspvwy6nq8"
                            },
                            {
                              "name": "SESSION",
                              "id": "comms_session_01h9krwprkeee8fzqspvwy6nq8",
                              "uri": "https://comms.twilio.com/v1/Sessions/comms_session_01h9krwprkeee8fzqspvwy6nq8"
                            },
                            {
                              "name": "SENDER",
                              "id": "comms_sender_01h9krwprkeee8fzqspvwy6nq8",
                              "uri": "https://comms.twilio.com/v1/Senders/comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                            }
                          ],
                          "tags": {},
                          "scheduledFor": null,
                          "createdAt": "2023-08-24T14:15:22Z",
                          "updatedAt": "2023-08-24T14:15:22Z",
                          "deletedAt": null
                        }
                      ],
                      "pagination": {
                        "next": null,
                        "self": "eyJTSyI6IkEjMDFqbmVoYm5xYWZmNDlrazUxZHA1bmN5bXciLCJTSzEiOiJBI2FjdGl2YXRlZCMyMDI1LTAzLTAzVDE3OjM3OjQ3WiMwMWpuZWhibnFhZmY0OWtrNTFkcDVuY3ltdyIsIlBLIjoiQyNBQzYwMzg4ODJiZDY5ZWIyNGM4YzU4ZGI5NjE4NjE3OTE4I0EifQ=="
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Emails/{emailId}": {
      "x-twilio-domain": "emails",
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/EmailId"
          },
          "x-twilio-version": 1,
          "name": "emailId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Fetch an Email",
        "operationId": "FetchEmail",
        "x-twilio-version": 1,
        "description": "This operation fetches a single Email using its ID.",
        "tags": [
          "Emails"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                },
                "examples": {
                  "OutboundEmailGroup": {
                    "x-twilio-version": 1,
                    "summary": "Outbound email, group",
                    "value": {
                      "id": "comms_email_01h9krwprkeee8fzqspvwy6nq8",
                      "content": {
                        "subject": "An Introduction",
                        "text": "Hello, World!",
                        "html": "<html><body>Hello, World!</body></html>",
                        "attachments": []
                      },
                      "from": {
                        "address": "support@example.com",
                        "name": "Cool Support"
                      },
                      "to": [
                        {
                          "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                          "memoryStoreId": "mem_store_00000000000000000000000000",
                          "address": "janedoe@example.com",
                          "name": "Jane Doe"
                        }
                      ],
                      "replyTo": [],
                      "cc": [
                        {
                          "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                          "memoryStoreId": "mem_store_00000000000000000000000000",
                          "address": "jane.doe@example.com",
                          "name": "Jane Doe"
                        }
                      ],
                      "bcc": [],
                      "status": "OPENED",
                      "related": [
                        {
                          "name": "OPERATION",
                          "id": "comms_operation_01h9krwprkeee8fzqspvwy6nq8",
                          "uri": "https://comms.twilio.com/v1/Emails/Operations/comms_operation_01h9krwprkeee8fzqspvwy6nq8"
                        },
                        {
                          "name": "SESSION",
                          "id": "comms_session_01h9krwprkeee8fzqspvwy6nq8",
                          "uri": "https://comms.twilio.com/v1/Sessions/comms_session_01h9krwprkeee8fzqspvwy6nq8"
                        },
                        {
                          "name": "SENDER",
                          "id": "comms_sender_01h9krwprkeee8fzqspvwy6nq8",
                          "uri": "https://comms.twilio.com/v1/Senders/comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                        }
                      ],
                      "tags": {},
                      "scheduledFor": null,
                      "createdAt": "2023-08-24T14:15:22Z",
                      "updatedAt": "2023-08-24T14:15:22Z",
                      "deletedAt": null
                    }
                  },
                  "InboundEmail": {
                    "x-twilio-version": 1,
                    "summary": "Inbound email",
                    "value": {
                      "id": "comms_email_01h9krwprkeee8fzqspvwy6nq9",
                      "content": {
                        "subject": "Please help with Billing Case 123456789",
                        "text": "Hello, World!",
                        "html": "<html>\n  <body>\n    <p>Hey, I need help pulling the numbers for case 123456789!\n    I've attached a CSV of the data I have,\n    please help me pull invoices for this batch of customers.\n\n    Thanks, Mary from accounting</p>\n  </body>\n</html>",
                        "attachments": [
                          {
                            "fileName": "customers.csv",
                            "fileSize": 1024,
                            "mimeType": "text/csv",
                            "contentReference": {
                              "temporaryUrl": "https://comms.twilio.com/cdn/media_01h9krwprkeee8fzqspvwy6nq9",
                              "expiresAt": "2023-11-29T19:05:10Z"
                            },
                            "createdAt": "2023-11-29T19:00:10Z",
                            "updatedAt": "2023-11-29T19:00:10Z"
                          }
                        ]
                      },
                      "from": {
                        "address": "mary.sue@example.com",
                        "name": "Mary Sue"
                      },
                      "to": [
                        {
                          "address": "gary.stu@example.com",
                          "name": "Gary Stu"
                        }
                      ],
                      "replyTo": [],
                      "cc": [
                        {
                          "address": "team-billing@example.com"
                        }
                      ],
                      "bcc": [],
                      "status": "INBOUND",
                      "related": [
                        {
                          "name": "SESSION",
                          "id": "comms_session_01h9krwprkeee8fzqspvwy6nq9",
                          "uri": "https://comms.twilio.com/v1/Sessions/comms_session_01h9krwprkeee8fzqspvwy6nq9"
                        }
                      ],
                      "tags": {},
                      "scheduledFor": null,
                      "createdAt": "2023-11-29T19:00:22Z",
                      "updatedAt": "2023-11-29T19:00:22Z",
                      "deletedAt": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      },
      "delete": {
        "summary": "Delete an Email",
        "operationId": "DeleteEmail",
        "x-twilio-version": 1,
        "description": "This operation deletes an Email",
        "tags": [
          "Emails"
        ],
        "responses": {
          "202": {
            "x-twilio-version": 1,
            "description": "The request was accepted and a resource ID is available to check the result. The response body contains the resource ID and link to the resource.",
            "headers": {
              "Location": {
                "x-twilio-version": 1,
                "schema": {
                  "$ref": "#/components/schemas/ResourceLocation"
                },
                "description": "The location (uri) of the resource identified by `Resource-Id`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http202ResponseWithResourceBody"
                },
                "examples": {
                  "DeleteEmailAccepted": {
                    "summary": "Delete Email request accepted",
                    "x-twilio-version": 1,
                    "value": {
                      "resourceId": "comms_email_01h9krwprkeee8fzqspvwy6nq8",
                      "resourceLocation": "https://comms.twilio.com/v1/Emails/comms_email_01h9krwprkeee8fzqspvwy6nq8"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Emails/Operations": {
      "x-twilio-domain": "emails",
      "get": {
        "summary": "List Email Operations",
        "operationId": "ListEmailOperations",
        "x-twilio-version": 1,
        "description": "This operation fetches a paginated list of Email Operations.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "startDate",
            "description": "Filter to Operations created after the specified date and time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Filter to Operations created before the specified date and time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter to Operations with the specified status.",
            "schema": {
              "$ref": "#/components/schemas/CommunicationOperationStatus"
            }
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "The token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The number of resources to return in a page.",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListEmailOperationsResponse",
                  "type": "object",
                  "properties": {
                    "operations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailOperation"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  },
                  "required": [
                    "operations",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Emails/Operations/{operationId}": {
      "x-twilio-domain": "emails",
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/OperationId"
          },
          "x-twilio-version": 1,
          "name": "operationId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Fetch an Email Operation",
        "operationId": "FetchEmailOperation",
        "x-twilio-version": 1,
        "description": "This operation fetches a single Email Operation using its ID.",
        "tags": [
          "Emails"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailOperation"
                },
                "examples": {
                  "EmailOperationWithSingleEmail": {
                    "summary": "Fetch an Email Operation - single Email",
                    "x-twilio-version": 1,
                    "value": {
                      "id": "comms_operation_01h2xcejqtf2nbrexx3vqjhp41",
                      "status": "COMPLETED",
                      "stats": {
                        "total": 1,
                        "recipients": 1,
                        "attempts": 1,
                        "queued": 0,
                        "sent": 0,
                        "scheduled": 0,
                        "delivered": 1,
                        "opened": 0,
                        "undelivered": 0,
                        "failed": 0,
                        "canceled": 0
                      },
                      "createdAt": "2024-04-05T06:20:00Z",
                      "updatedAt": "2024-04-05T06:20:00Z"
                    }
                  },
                  "EmailOperationWithTwoSeparateEmails": {
                    "summary": "Fetch an Email Operation - two separate Emails",
                    "x-twilio-version": 1,
                    "value": {
                      "id": "comms_operation_01h2xcejqtf2nbrexx3vqjhp41",
                      "status": "COMPLETED",
                      "stats": {
                        "total": 2,
                        "recipients": 2,
                        "attempts": 2,
                        "queued": 0,
                        "sent": 0,
                        "scheduled": 0,
                        "delivered": 2,
                        "opened": 0,
                        "undelivered": 0,
                        "failed": 0,
                        "canceled": 0
                      },
                      "createdAt": "2024-04-05T06:20:00Z",
                      "updatedAt": "2024-04-05T06:20:00Z"
                    }
                  },
                  "EmailOperationWithThreeRecipients": {
                    "summary": "Fetch an Email Operation - one Email with 3 recipients",
                    "x-twilio-version": 1,
                    "value": {
                      "id": "comms_operation_01h2xcejqtf2nbrexx3vqjhp41",
                      "status": "COMPLETED",
                      "stats": {
                        "total": 1,
                        "recipients": 3,
                        "attempts": 3,
                        "queued": 0,
                        "sent": 0,
                        "scheduled": 0,
                        "delivered": 0,
                        "opened": 0,
                        "undelivered": 0,
                        "failed": 0,
                        "canceled": 0
                      },
                      "createdAt": "2024-04-05T06:20:00Z",
                      "updatedAt": "2024-04-05T06:20:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Emails/Search": {
      "x-twilio-domain": "emails",
      "post": {
        "summary": "Search Emails",
        "operationId": "SearchEmails",
        "x-twilio-version": 1,
        "description": "Search for Emails based on the specified criteria.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pageToken",
            "description": "The token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The number of resources to return in a page.",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SearchEmailsRequest",
                "type": "object",
                "properties": {
                  "operationId": {
                    "description": "Filter Emails by Operation ID.",
                    "$ref": "#/components/schemas/OperationId"
                  },
                  "sessionId": {
                    "description": "Filter Emails by Session ID.",
                    "$ref": "#/components/schemas/SessionId"
                  },
                  "startDate": {
                    "description": "Filter to Emails created after the specified date and time.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "endDate": {
                    "description": "Filter to Emails created before the specified date and time.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "profile": {
                    "x-twilio-version": 1,
                    "description": "Filter Emails sent or received by Profile ID.",
                    "$ref": "#/components/schemas/ProfileId"
                  },
                  "address": {
                    "description": "Filter Emails sent or received from an address.",
                    "type": "string"
                  },
                  "status": {
                    "description": "Filter Emails by Delivery Status.",
                    "$ref": "#/components/schemas/EmailStatus"
                  },
                  "tags": {
                    "description": "Match Emails by one or many tags. If more than one tag is specified, the search will return Emails that have all the tags.",
                    "$ref": "#/components/schemas/Tags"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SearchEmailsResponse",
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "description": "A list of Emails.",
                      "items": {
                        "$ref": "#/components/schemas/EmailMetadata"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  },
                  "required": [
                    "emails",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Messages": {
      "x-twilio-domain": "messages",
      "post": {
        "summary": "Send Messages",
        "operationId": "SendMessages",
        "x-twilio-version": 1,
        "description": "This operation creates and sends out messages to the specified recipients.",
        "tags": [
          "Messages"
        ],
        "responses": {
          "202": {
            "x-twilio-version": 1,
            "description": "The request was accepted and an Operation was created to track its progress. The response body contains the ID and link to the Operation resource.",
            "headers": {
              "Location": {
                "x-twilio-version": 1,
                "schema": {
                  "$ref": "#/components/schemas/OperationLocation"
                },
                "description": "The location (uri) of the Operation resource.\nIssue a GET request to this URI to retrieve the status of the Operation."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Http202ResponseWithOperationBody"
                },
                "examples": {
                  "SendMessagesAccepted": {
                    "summary": "Send Messages request accepted",
                    "x-twilio-version": 1,
                    "value": {
                      "operationId": "comms_operation_01h9krwprkeee8fzqspvwy6nq8",
                      "operationLocation": "https://comms.twilio.com/v1/Messages/Operations/comms_operation_01h9krwprkeee8fzqspvwy6nq8"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SendMessagesRequest",
                "type": "object",
                "properties": {
                  "to": {
                    "title": "SendMessagesRequestTo",
                    "description": "An array of recipient objects to send the Message(s) to.",
                    "x-twilio-version": 1,
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10000,
                    "items": {
                      "title": "SendMessagesRecipient",
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "SendMessagesAddressRecipient",
                          "x-twilio-version": 1,
                          "description": "Describe the recipient by their address and channel.",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "The recipient’s communication address within a channel, e.g. phone number"
                            },
                            "channel": {
                              "$ref": "#/components/schemas/MessageAddressChannel"
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "address",
                            "channel"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "title": "SendMessagesConnectedAddressRecipient",
                          "description": "Provide a list of addresses for a recipient and Twilio will pick the best\none. \n\nTwilio will automatically handle errors and retry across channels when necessary.",
                          "x-twilio-version": 1,
                          "properties": {
                            "addresses": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/MessageAddress"
                              },
                              "minItems": 1,
                              "maxItems": 10
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "addresses"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "SendMessagesProfileRecipient",
                          "description": "Describe your recipient by their Twilio `Profile` identified by `Profile.Id`.",
                          "x-twilio-version": 1,
                          "properties": {
                            "profileId": {
                              "$ref": "#/components/schemas/ProfileId"
                            },
                            "memoryStoreId": {
                              "$ref": "#/components/schemas/MemoryStoreId"
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "profileId",
                            "memoryStoreId"
                          ]
                        }
                      ]
                    }
                  },
                  "content": {
                    "title": "SendMessagesRequestContent",
                    "type": "object",
                    "description": "The content of the Message.\n\n***\n\n* Use the [Liquid](https://shopify.github.io/liquid/)\ntemplating language for personalization in any text-based field.\n\n* When using a templated content,\nuse the `variables` field on each recipient to specify\nthe values to substitute.\n\n* For each variable you specify in your template, you should have\na matching key in each recipient's `variables` object.\n\n* When targeting `Audience` or `Profile` recipients, you may specify `variables`\nwith values that reference stored traits on the `Profile` -- for example:\n`${Twilio.Profile.firstName}` or `${Twilio.Profile.myCustomField}`.",
                    "x-twilio-version": 1,
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/MessageContentTextWithMedia"
                      },
                      {
                        "$ref": "#/components/schemas/MessageContentTemplate"
                      },
                      {
                        "$ref": "#/components/schemas/MessageContentChannelModules"
                      }
                    ]
                  },
                  "from": {
                    "title": "SendMessagesRequestFrom",
                    "description": "The sending identity to associate with the Message(s).",
                    "x-twilio-version": 1,
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/MessageAddressSender"
                      },
                      {
                        "$ref": "#/components/schemas/SenderIdSender"
                      },
                      {
                        "$ref": "#/components/schemas/MessageSenderPoolIdSender"
                      }
                    ]
                  },
                  "schedule": {
                    "x-twilio-version": 1,
                    "$ref": "#/components/schemas/Schedule"
                  },
                  "tags": {
                    "x-twilio-version": 1,
                    "$ref": "#/components/schemas/Tags"
                  }
                },
                "required": [
                  "to",
                  "content"
                ]
              },
              "examples": {
                "SendSimplestMessage": {
                  "summary": "Send simplest message",
                  "x-twilio-version": 1,
                  "value": {
                    "to": [
                      {
                        "address": "+14153902337",
                        "channel": "PHONE"
                      }
                    ],
                    "content": {
                      "text": "Hello, World!"
                    }
                  }
                },
                "SendASimpleSms": {
                  "summary": "Send a simple sms with explicit from",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "address": "+14153901002",
                      "channel": "SMS"
                    },
                    "to": [
                      {
                        "address": "+12065558844",
                        "channel": "PHONE"
                      }
                    ],
                    "content": {
                      "text": "Hello, World!"
                    }
                  }
                },
                "SendRCSWithPersonalization": {
                  "summary": "Send RCS with personalization",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "address": "rbm_zx238c_agent",
                      "channel": "RCS"
                    },
                    "to": [
                      {
                        "address": "+12065558844",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Zane",
                          "trackingNumber": "1Z6789012345678901"
                        }
                      }
                    ],
                    "content": {
                      "text": "Hi {{ name | default: 'there' }}! \nYour BubuLemon order has shipped.\nTrack your order: {{ trackingNumber }}"
                    }
                  }
                },
                "SendToTenRecipientsWithPersonalization": {
                  "summary": "Send ten Messages with personalization",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "senderPoolId": "comms_senderpool_01h9krwprkeee8fzqspvwy6nq8"
                    },
                    "to": [
                      {
                        "address": "+12065558841",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Alice"
                        }
                      },
                      {
                        "address": "+12065558842",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Bob"
                        }
                      },
                      {
                        "address": "+12065558843",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Zane"
                        }
                      },
                      {
                        "address": "+12065558844",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Taylor"
                        }
                      },
                      {
                        "address": "+12065558845",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Riley"
                        }
                      },
                      {
                        "address": "+12065558846",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Kai"
                        }
                      },
                      {
                        "address": "+12065558847",
                        "channel": "PHONE",
                        "variables": {
                          "name": "River"
                        }
                      },
                      {
                        "address": "+12065558848",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Robin"
                        }
                      },
                      {
                        "address": "+12065558849",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Ivan"
                        }
                      },
                      {
                        "address": "+12065558850",
                        "channel": "PHONE",
                        "variables": {
                          "name": "Ollie"
                        }
                      }
                    ],
                    "content": {
                      "text": "Hello {{ name | default: '' }}!\nThanks for registering for updates.\nWe'll let you know when we launch the next batch."
                    }
                  }
                },
                "SendAMessageToOneRecipientThatHasMultipleAddresses": {
                  "summary": "Send a Message (wa, rcs, mms/sms) to one recipient that has multiple addresses",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "senderPoolId": "comms_senderpool_01h9krwprkeee8fzqspvwy6nq8"
                    },
                    "to": [
                      {
                        "addresses": [
                          {
                            "address": "+12065558844",
                            "channel": "WHATSAPP"
                          },
                          {
                            "address": "+12065558844",
                            "channel": "PHONE"
                          }
                        ]
                      }
                    ],
                    "content": {
                      "text": "Hello, World!"
                    }
                  }
                },
                "SendOneMessageFromSenderToProfile": {
                  "summary": "Send one Message from Sender to Profile",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      }
                    ],
                    "content": {
                      "text": "Hello, World!"
                    }
                  }
                },
                "SendRcsMessagesToMultipleRecipients": {
                  "summary": "Send rcs Messages to multiple recipients",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "address": "rbm_abc123_sender",
                      "channel": "RCS"
                    },
                    "to": [
                      {
                        "address": "+14153979999",
                        "channel": "PHONE"
                      },
                      {
                        "address": "+12065558063",
                        "channel": "PHONE"
                      }
                    ],
                    "content": {
                      "text": "Hello, World!"
                    }
                  }
                },
                "SendSmsMessagesToMultipleProfileRecipients": {
                  "summary": "Send sms Messages to multiple Profile recipients",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "address": "+14155551002",
                      "channel": "SMS"
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      },
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      }
                    ],
                    "content": {
                      "text": "Hello, World!"
                    }
                  }
                },
                "SendMessagesFromASenderToMultipleProfileRecipients": {
                  "summary": "Send Messages from a Sender to multiple Profile recipients",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      },
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      }
                    ],
                    "content": {
                      "text": "Hello, World!"
                    }
                  }
                },
                "SendMessagesFromSenderPoolToAMixOfRecipientTypes": {
                  "summary": "Send Messages from Sender Pool to a mix of recipient types",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "senderPoolId": "comms_senderpool_01h9krwprkeee8fzqspvwy6nq8",
                      "channels": {
                        "filterIn": [
                          "SMS",
                          "RCS"
                        ]
                      }
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      },
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      },
                      {
                        "address": "+17773178001",
                        "channel": "PHONE"
                      }
                    ],
                    "content": {
                      "text": "Hello, World!"
                    }
                  }
                },
                "SendMultipleMessagesWithPersonalization": {
                  "summary": "Send multiple Messages with personalization",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000",
                        "variables": {
                          "firstName": "John",
                          "lastName": "Doe"
                        }
                      },
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000",
                        "variables": {
                          "firstName": "Jane",
                          "lastName": "Doe"
                        }
                      }
                    ],
                    "content": {
                      "text": "Hello, {{ firstName }} {{ lastName }}!"
                    }
                  }
                },
                "SendMultipleMessagesWithProfileReferencePersonalization": {
                  "summary": "Send multiple Messages with Profile reference personalization",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000",
                        "variables": {
                          "firstName": "${Twilio.Profile.firstName}",
                          "lastName": "${Twilio.Profile.lastName}"
                        }
                      },
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000",
                        "variables": {
                          "firstName": "${Twilio.Profile.firstName}",
                          "lastName": "${Twilio.Profile.lastName}"
                        }
                      }
                    ],
                    "content": {
                      "text": "Hello, {{ firstName | default: 'Valued' }} {{ lastName | default: 'Customer' }}!"
                    }
                  }
                },
                "SendMessagesConstrainedToWhatsappAndSms": {
                  "summary": "Send Messages, constrained to whatsapp, and sms",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "senderPoolId": "comms_senderpool_01h9krwprkeee8fzqspvwy6nq8",
                      "channels": {
                        "filterIn": [
                          "WHATSAPP",
                          "SMS"
                        ]
                      }
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000",
                        "variables": {
                          "firstName": "John",
                          "lastName": "Doe"
                        }
                      },
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000",
                        "variables": {
                          "firstName": "Jane",
                          "lastName": "Doe"
                        }
                      }
                    ],
                    "content": {
                      "text": "Hello, {{ firstName | default: 'Valued' }} {{ lastName | default: 'Customer' }}!",
                      "media": [
                        {
                          "url": "https://cdn.bikinibottom.com/bikinibottom.jpg"
                        }
                      ]
                    }
                  }
                },
                "SendMMSMessageWithMedia": {
                  "summary": "Send an mms message with media",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "address": "+14158871002",
                      "channel": "SMS"
                    },
                    "to": [
                      {
                        "address": "+19144178063",
                        "channel": "PHONE"
                      }
                    ],
                    "content": {
                      "media": [
                        {
                          "url": "https://example.com/steelers.jpg"
                        },
                        {
                          "url": "https://example.com/cowboys.png"
                        }
                      ]
                    }
                  }
                },
                "SendAScheduledSms": {
                  "summary": "Send a scheduled sms",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "address": "+14153901002",
                      "channel": "SMS"
                    },
                    "to": [
                      {
                        "address": "+12065558844",
                        "channel": "PHONE"
                      }
                    ],
                    "content": {
                      "text": "Hello, World!"
                    },
                    "schedule": {
                      "sendAt": [
                        "2030-04-01T10:04:01Z"
                      ]
                    }
                  }
                },
                "SendAMessageWithJustRecipientAndContent": {
                  "summary": "Send a Message with just recipient and content",
                  "x-twilio-version": 1,
                  "value": {
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      }
                    ],
                    "content": {
                      "text": "Look ma, no 'from' ✨!"
                    }
                  }
                },
                "FlexibleContentPerChannelControl": {
                  "summary": "Flexible content, per channel control",
                  "x-twilio-version": 1,
                  "value": {
                    "from": {
                      "senderPoolId": "comms_senderpool_01h9krwprkeee8fzqspvwy6nq8"
                    },
                    "to": [
                      {
                        "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                        "memoryStoreId": "mem_store_00000000000000000000000000"
                      }
                    ],
                    "content": {
                      "modules": [
                        {
                          "rcs": {
                            "richCard": {
                              "standaloneCard": {
                                "cardContent": {
                                  "title": "Your photo",
                                  "description": "We hope you enjoyed the roller coaster!",
                                  "media": {
                                    "contentInfo": {
                                      "fileUrl": "https://example.com/image.jpg"
                                    }
                                  },
                                  "suggestions": [
                                    {
                                      "reply": {
                                        "text": "Purchase 8x11 Print",
                                        "postbackData": "print_8x11"
                                      }
                                    },
                                    {
                                      "reply": {
                                        "text": "Purchase Digital Copy",
                                        "postbackData": "digitalCopy"
                                      }
                                    },
                                    {
                                      "reply": {
                                        "text": "Request Help",
                                        "postbackData": "requestHelp"
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        },
                        {
                          "sms": {
                            "text": "We hope you enjoyed the roller coaster! Here's your photo!",
                            "media": [
                              {
                                "url": "https://example.com/image.jpg"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "x-twilio-version": 1,
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST 'https://comms.twilio.com/preview/Messages' \\\n--header 'Content-Type: application/json' \\\n--data '{\n    \"to\": [{\n        \"address\": \"+12065551337\",\n        \"channel\": \"PHONE\"\n    }],\n    \"content\": {\n        \"text\": \"What day is it?\"\n    }\n}'\\\n-u $TWILIO_ACCOUNT_SID:$TWILIO_AUTH_TOKEN \\\n\n"
          }
        ]
      },
      "get": {
        "summary": "List Messages",
        "operationId": "ListMessages",
        "x-twilio-version": 1,
        "description": "This operation fetches a paginated list of Messages.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "operationId",
            "description": "Filter Messages by Operation ID.",
            "x-twilio-version": 1,
            "schema": {
              "$ref": "#/components/schemas/OperationId"
            }
          },
          {
            "in": "query",
            "name": "sessionId",
            "description": "Filter Messages by Session ID.",
            "x-twilio-version": 1,
            "schema": {
              "$ref": "#/components/schemas/SessionId"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Filter to Messages created after the specified date and time in ISO 8601 format. The date is in RFC3339 format. (e.g., 2025-06-18T12:00:00Z)",
            "x-twilio-version": 1,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Filter to Messages created before the specified date and time in ISO 8601 format. The date is in RFC3339 format and must be greater  than startDate if provided. (e.g., 2025-06-18T12:00:00Z)",
            "x-twilio-version": 1,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "profile",
            "description": "Filter Messages sent or received by Profile ID.",
            "x-twilio-version": 1,
            "schema": {
              "$ref": "#/components/schemas/ProfileId"
            }
          },
          {
            "in": "query",
            "name": "channel",
            "description": "Filter Messages by channel.",
            "x-twilio-version": 1,
            "schema": {
              "$ref": "#/components/schemas/MessageSenderChannel"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter Messages by Delivery Status.",
            "x-twilio-version": 1,
            "schema": {
              "$ref": "#/components/schemas/MessageStatus"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Match messages by one or many tags. If more than one tag is specified in the query, the search will return messages that have all the tags.\nFor Example: ``` GET /Messages?tags=region:EMEA;campaign:BUY_STUFF; ```",
            "x-twilio-version": 1,
            "schema": {
              "$ref": "#/components/schemas/TagsString"
            }
          },
          {
            "in": "query",
            "name": "pageToken",
            "description": "The token to retrieve the next page of results.",
            "x-twilio-version": 1,
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "The number of resources to return in a page.",
            "x-twilio-version": 1,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListMessagesResponse",
                  "description": "A list of Messages and pagination metadata.",
                  "x-twilio-version": 1,
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "description": "A list of Messages.",
                      "items": {
                        "$ref": "#/components/schemas/MessageMetadata"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  },
                  "required": [
                    "messages",
                    "pagination"
                  ]
                },
                "examples": {
                  "ListMessagesInOperationWithMixedChannels": {
                    "summary": "List with one sms and one whatsapp message",
                    "x-twilio-version": 1,
                    "value": {
                      "messages": [
                        {
                          "id": "comms_message_01h2xcejqtf2nbrexx3vqjhp41",
                          "from": {
                            "address": "+12065558844",
                            "channel": "SMS",
                            "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8",
                            "senderPoolId": "comms_senderpool_01h9krwprkeee8fzqspvwy6nq8"
                          },
                          "to": [
                            {
                              "address": "+14153901002",
                              "channel": "PHONE",
                              "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq7",
                              "memoryStoreId": "mem_store_00000000000000000000000000"
                            }
                          ],
                          "status": "SENT",
                          "related": [
                            {
                              "name": "OPERATION",
                              "id": "comms_operation_01h2xcejqtf2nbrexx3vqjhp41",
                              "uri": "https://comms.twilio.com/v1/Messages/Operations/comms_operation_01h2xcejqtf2nbrexx3vqjhp41"
                            }
                          ],
                          "tags": {},
                          "scheduledFor": null,
                          "createdAt": "2023-08-24T14:15:22Z",
                          "updatedAt": "2023-08-24T14:15:22Z",
                          "deletedAt": null
                        },
                        {
                          "id": "comms_message_01h2xcejqtf2nbrexx3vqjhp41",
                          "from": {
                            "address": "+12065558844",
                            "channel": "WHATSAPP",
                            "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                          },
                          "to": [
                            {
                              "address": "+14153901002",
                              "channel": "PHONE",
                              "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq7",
                              "memoryStoreId": "mem_store_00000000000000000000000000"
                            }
                          ],
                          "status": "SENT",
                          "related": [
                            {
                              "name": "OPERATION",
                              "id": "comms_operation_01h2xcejqtf2nbrexx3vqjhp41",
                              "uri": "https://comms.twilio.com/v1/Messages/Operations/comms_operation_01h2xcejqtf2nbrexx3vqjhp41"
                            }
                          ],
                          "tags": {},
                          "scheduledFor": null,
                          "createdAt": "2023-08-24T14:15:22Z",
                          "updatedAt": "2023-08-24T14:15:22Z",
                          "deletedAt": null
                        }
                      ],
                      "pagination": {
                        "next": null,
                        "self": "eyJTSyI6IkEjMDFqbmVoYm5xYWZmNDlrazUxZHA1bmN5bXciLCJTSzEiOiJBI2FjdGl2YXRlZCMyMDI1LTAzLTAzVDE3OjM3OjQ3WiMwMWpuZWhibnFhZmY0OWtrNTFkcDVuY3ltdyIsIlBLIjoiQyNBQzYwMzg4ODJiZDY5ZWIyNGM4YzU4ZGI5NjE4NjE3OTE4I0EifQ=="
                      }
                    }
                  },
                  "ListMessagesFilterByProfile": {
                    "summary": "List Messages filtered by Profile",
                    "x-twilio-version": 1,
                    "value": {
                      "messages": [
                        {
                          "id": "comms_message_01h2xcejqtf2nbrexx3vqjhp41",
                          "from": {
                            "address": "+12065558844",
                            "channel": "SMS",
                            "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                          },
                          "to": [
                            {
                              "address": "+14153901002",
                              "channel": "PHONE",
                              "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq7",
                              "memoryStoreId": "mem_store_00000000000000000000000000"
                            }
                          ],
                          "related": [
                            {
                              "name": "OPERATION",
                              "id": "comms_operation_01h2xcejqtf2nbrexx3vqjhp41",
                              "uri": "https://comms.twilio.com/v1/Messages/Operations/comms_operation_01h2xcejqtf2nbrexx3vqjhp41"
                            }
                          ],
                          "status": "SENT",
                          "tags": {},
                          "scheduledFor": null,
                          "createdAt": "2023-08-24T14:15:22Z",
                          "updatedAt": "2023-08-24T14:15:22Z",
                          "deletedAt": null
                        },
                        {
                          "id": "comms_message_01h2xcejqtf2nbrexx3vqjhp41",
                          "from": {
                            "address": "+12065558844",
                            "channel": "SMS",
                            "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                          },
                          "to": [
                            {
                              "address": "+14153901002",
                              "channel": "PHONE",
                              "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                              "memoryStoreId": "mem_store_00000000000000000000000000"
                            }
                          ],
                          "status": "DELIVERED",
                          "related": [
                            {
                              "name": "OPERATION",
                              "id": "comms_operation_01h2xcejqtf2nbrexx3vqjhp41",
                              "uri": "https://comms.twilio.com/v1/Messages/Operations/comms_operation_01h2xcejqtf2nbrexx3vqjhp41"
                            }
                          ],
                          "tags": {},
                          "scheduledFor": null,
                          "createdAt": "2023-08-24T14:15:22Z",
                          "updatedAt": "2023-08-24T14:15:22Z",
                          "deletedAt": null
                        }
                      ],
                      "pagination": {
                        "next": null,
                        "self": "eyJTSyI6IkEjMDFqbmVoYm5xYWZmNDlrazUxZHA1bmN5bXciLCJTSzEiOiJBI2FjdGl2YXRlZCMyMDI1LTAzLTAzVDE3OjM3OjQ3WiMwMWpuZWhibnFhZmY0OWtrNTFkcDVuY3ltdyIsIlBLIjoiQyNBQzYwMzg4ODJiZDY5ZWIyNGM4YzU4ZGI5NjE4NjE3OTE4I0EifQ=="
                      }
                    }
                  },
                  "ListMessagesFilteredByInboundStatusAndProfile": {
                    "summary": "List only inbound Messages from the same Profile",
                    "x-twilio-version": 1,
                    "value": {
                      "messages": [
                        {
                          "id": "comms_message_01h9krwprkeee8fzqspvwy6nq5",
                          "from": {
                            "address": "+12065558844",
                            "channel": "PHONE",
                            "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq8",
                            "memoryStoreId": "mem_store_00000000000000000000000000"
                          },
                          "to": [
                            {
                              "address": "+14155551002",
                              "channel": "SMS",
                              "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                            }
                          ],
                          "status": "INBOUND",
                          "related": [
                            {
                              "name": "SESSION",
                              "id": "comms_session_01h9krwprkeee8fzqspvwy6nq5",
                              "uri": "https://comms.twilio.com/v1/Sessions/comms_session_01h9krwprkeee8fzqspvwy6nq5"
                            }
                          ],
                          "tags": {},
                          "scheduledFor": null,
                          "createdAt": "2023-08-24T14:15:22Z",
                          "updatedAt": "2023-08-24T14:15:22Z",
                          "deletedAt": null
                        },
                        {
                          "id": "comms_message_01h9krwprkeee8fzqspvwy6nq6",
                          "from": {
                            "address": "+12065558844",
                            "channel": "SMS",
                            "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                          },
                          "to": [
                            {
                              "address": "+14155551003",
                              "channel": "PHONE",
                              "profileId": "mem_profile_01h9krwprkeee8fzqspvwy6nq7",
                              "memoryStoreId": "mem_store_00000000000000000000000000"
                            }
                          ],
                          "status": "INBOUND",
                          "related": [
                            {
                              "name": "SESSION",
                              "id": "comms_session_01h9krwprkeee8fzqspvwy6nq6",
                              "uri": "https://comms.twilio.com/v1/Sessions/comms_session_01h9krwprkeee8fzqspvwy6nq6"
                            }
                          ],
                          "tags": {},
                          "scheduledFor": null,
                          "createdAt": "2023-08-24T14:16:59Z",
                          "updatedAt": "2023-08-24T14:16:59Z",
                          "deletedAt": null
                        }
                      ],
                      "pagination": {
                        "next": null,
                        "self": "eyJTSyI6IkEjMDFqbmVoYm5xYWZmNDlrazUxZHA1bmN5bXciLCJTSzEiOiJBI2FjdGl2YXRlZCMyMDI1LTAzLTAzVDE3OjM3OjQ3WiMwMWpuZWhibnFhZmY0OWtrNTFkcDVuY3ltdyIsIlBLIjoiQyNBQzYwMzg4ODJiZDY5ZWIyNGM4YzU4ZGI5NjE4NjE3OTE4I0EifQ=="
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "x-code-samples": [
          {
            "x-twilio-version": 1,
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET 'https://comms.twilio.com/preview/Messages' \\\n--header 'Content-Type: application/json' \\\n-u $TWILIO_ACCOUNT_SID:$TWILIO_AUTH_TOKEN"
          }
        ]
      }
    },
    "/Messages/{messageId}": {
      "x-twilio-domain": "messages",
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/MessageId"
          },
          "name": "messageId",
          "in": "path",
          "required": true,
          "x-twilio-version": 1
        }
      ],
      "get": {
        "summary": "Fetch a Message",
        "operationId": "FetchMessage",
        "x-twilio-version": 1,
        "description": "This operation fetches a single Message using its ID.",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                },
                "examples": {
                  "OutboundFallbackRcsToSms": {
                    "summary": "Outbound, rcs to mms fallback",
                    "x-twilio-version": 1,
                    "value": {
                      "id": "comms_message_2x4y6z8a0b1c2d3e4f5g6h7j8k",
                      "from": {
                        "address": "+12065558844",
                        "channel": "SMS",
                        "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                      },
                      "to": [
                        {
                          "address": "+14153901002",
                          "channel": "PHONE"
                        }
                      ],
                      "content": {
                        "text": "Thanks for joining us today!",
                        "media": [
                          {
                            "url": "http://content.cool.co/party-thanks.png"
                          }
                        ]
                      },
                      "status": "DELIVERED",
                      "attempts": [
                        {
                          "from": {
                            "address": "bowlingteam_212_sender",
                            "channel": "RCS",
                            "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                          },
                          "to": [
                            {
                              "address": "+14153901002",
                              "channel": "PHONE"
                            }
                          ],
                          "status": "FAILED",
                          "attemptedAt": "2023-08-24T14:15:22Z",
                          "infoUrl": "https://console.twilio.com/us1/monitor/logs/sms/AC77ec7f777777f7a77ce7777aeef7777f/SMbffad777cc7777777777777dfcdc7f77",
                          "error": {
                            "code": 61337,
                            "message": "Recipient does not have RCS enabled.",
                            "infoUrl": "https://twilio.com/docs/api/errors/61337"
                          }
                        },
                        {
                          "from": {
                            "address": "+12065558844",
                            "channel": "SMS",
                            "senderId": "comms_sender_01h9krwprkeee8fzqspvwy6nq8"
                          },
                          "to": [
[...]
