{
  "openapi": "3.1.0",
  "info": {
    "title": "Twilio Communications API",
    "version": "preview",
    "contact": {
      "name": "Twilio",
      "url": "https://www.twilio.com"
    },
    "x-logo": {
      "url": "/docs.svg"
    },
    "description": "A comprehensive communications API for connecting people through software.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://comms.twilio.com/preview",
      "description": "Twilio Communications API preview"
    }
  ],
  "security": [
    {
      "account_id_auth_token": []
    },
    {
      "api_key_api_key_secret": []
    }
  ],
  "tags": [
    {
      "name": "Contacts",
      "description": "*Use `Contacts` to build and maintain a reliable directory of customers\nwith validated communications addresses and identity profiles.*"
    },
    {
      "name": "Audiences",
      "description": "*Build up `Audiences` to broadcast communications to larger audiences*.\n\n - Leverage them with `Messages`, `Emails`, `PushNotifications`\n    and `Communications`."
    },
    {
      "name": "Messages",
      "description": "*Use `Messages` to send and receive RCS, SMS and MMS, Group MMS, and WhatsApp messages.*\n\n*Send with precise control over every aspect of your message\n or let Twilio share control and up-level your messaging with data-driven optimizations.*\n\nMessages supports:\n - Sending a Message to a single recipient\n - Sending Messages to many recipients in a single request\n - Sending Group Messages to facilitate communication between multiple people\n - Sending to both stored Profiles and/or directly specified messaging addresses (e.g. phone number)\n - Sending Messages to Profiles with multiple communication addresses: Twilio will choose the best channel.\n - Sending Messages to stored Audiences with per-recipient content personalization\n - Sending Messages with templated content that reference attributes of your stored Profiles\n - Sending Messages with rich content\n - Sending Messages with shortened, branded links that support click tracking.\n - Sending Messages scheduled for future delivery.\n - Receiving inbound Messages sent to your Twilio phone numbers.\n - Maintaining history of distinct communication sessions including both inbound and outbound Messages."
    },
    {
      "name": "Emails",
      "description": "*Use `Emails` to send and receive email with Twilio SendGrid.*\n*Use `Domains` to verify ownership and configure DNS for your domain name for sending `Emails`.*\n*Use `Email Senders` to set up a default address and name to send 'from' and to enable\n email for sending with `Communications`.*\n\nEmails supports:\n - Sending an Email to a single recipient\n - Sending Emails to many recipients in a single request\n - Sending to both stored Profiles and/or directly specified email addresses\n - Sending Emails to stored Audiences with per-recipient content personalization\n - Sending Emails with merged content that reference attributes of your stored Profiles\n - Sending Emails with branded links that support click tracking.\n - Sending Emails scheduled for future delivery.\n - Receiving inbound Email replies and relaying the event to you for handling."
    },
    {
      "name": "PushNotifications",
      "description": "🚧 *Use `PushNotifications` to send push notifications to your mobile apps\nvia Firebase Cloud Messaging and Apple Push Notification services\nas well as other push-enabled services.*"
    },
    {
      "name": "Senders",
      "description": "*Use `Senders` to build the sending and receiving identities that represent your business and applications.*\n\n- For 'outbound' communications, it is used as the sender of the communication (`from` field).\n\n- For 'inbound' communications to your app (sent by a Profile/end-user), it is used as the recipient (`to` field).\n\n- A Sender represents existing inventory created and setup in other APIs, such as Phone Numbers.\n\n- Use `SenderPools` to organize your `Senders` into logical groups to build multi-channel identities\nwith multiple types of communications addresses (phone numbers, short codes, email addresses)."
    },
    {
      "name": "SenderPools",
      "description": "*Use `Senders` to build the sending and receiving identities that represent your business and applications.*\n\n- For 'outbound' communications, it is used as the sender of the communication (`from` field).\n\n- For 'inbound' communications to your app (sent by a Profile/end-user), it is used as the recipient (`to` field).\n\n- A Sender represents existing inventory created and setup in other APIs, such as Phone Numbers.\n\n- Use `SenderPools` to organize your `Senders` into logical groups to build multi-channel identities\nwith multiple types of communications addresses (phone numbers, short codes, email addresses)."
    }
  ],
  "paths": {
    "/Contacts": {
      "post": {
        "summary": "Create Contacts",
        "operationId": "CreateContacts",
        "description": "This operation creates Contacts. A contact must have at least one address or a user_identifier supplied in order to be created.",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithOperation"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateContactsRequest",
                "type": "object",
                "required": [
                  "contacts"
                ],
                "properties": {
                  "contacts": {
                    "title": "CreateContactsRequestContacts",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "title": "CreateContactsRequestContactsItem",
                      "description": "Specify the Contact including their communications addresses and descriptors of their identity.",
                      "properties": {
                        "addresses": {
                          "type": "array",
                          "description": "The Contact’s communication addresses, such as phone number, email address, and push device token.",
                          "items": {
                            "$ref": "#/components/schemas/ContactAddress"
                          }
                        },
                        "first_name": {
                          "type": "string",
                          "description": "The first name of the Contact."
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name of the Contact."
                        },
                        "display_name": {
                          "type": "string",
                          "description": "The name to associate with the address for sending and receiving communications,\nvisible for some types of communications like email."
                        },
                        "user_identifier": {
                          "$ref": "#/components/schemas/UserIdentifier"
                        },
                        "external_identifier": {
                          "$ref": "#/components/schemas/ExternalIdentifier"
                        },
                        "location": {
                          "$ref": "#/components/schemas/ContactLocation"
                        },
                        "date_of_birth": {
                          "description": "Contact's date of birth.",
                          "format": "YYYY-MM-DD",
                          "type": "string"
                        },
                        "tags": {
                          "$ref": "#/components/schemas/Tags"
                        },
                        "custom_fields": {
                          "$ref": "#/components/schemas/ContactCustomFields"
                        }
                      }
                    },
                    "minItems": 1
                  }
                }
              },
              "examples": {
                "CreateAContactWithAnEmailAddressPhoneNumberAndCustomFields": {
                  "summary": "Create a Contact with an email address, phone number and custom fields",
                  "value": {
                    "contacts": [
                      {
                        "first_name": "Ivan",
                        "last_name": "Lee",
                        "display_name": "Ivan Lee",
                        "user_identifier": "3c35422849fea46d37b099ae59fae22c",
                        "external_identifier": "006E0000004TguX",
                        "addresses": [
                          {
                            "channel": "phone",
                            "address": "+37259000000"
                          },
                          {
                            "channel": "email",
                            "address": "ilee@example.com"
                          }
                        ],
                        "custom_fields": {
                          "favorite_color": {
                            "value": "purple"
                          },
                          "favorite_number": {
                            "value": 42
                          },
                          "is_favorite_color_purple": {
                            "value": true
                          },
                          "colors": {
                            "value": [
                              "purple",
                              "blue",
                              "green"
                            ]
                          }
                        }
                      }
                    ]
                  }
                },
                "CreateAContactWithAnEmailAddressAndPhoneNumber": {
                  "summary": "Create a Contact with an email address and phone number",
                  "value": {
                    "contacts": [
                      {
                        "first_name": "Don",
                        "last_name": "Conama",
                        "display_name": "Don",
                        "user_identifier": "+37259000011",
                        "external_identifier": "006E0000004TguX",
                        "addresses": [
                          {
                            "channel": "phone",
                            "address": "+37259000011"
                          },
                          {
                            "channel": "email",
                            "address": "don.conama@example.com"
                          }
                        ],
                        "tags": {
                          "shirt_size": "X-Large"
                        }
                      }
                    ]
                  }
                },
                "CreateAContactWithAPushDeviceTokenAndSmsAddressForAMobileApp": {
                  "summary": "Create a Contact with a push device token and sms address for a mobile app",
                  "value": {
                    "contacts": [
                      {
                        "first_name": "David",
                        "last_name": "Pletnjov",
                        "display_name": "David Pletnjov",
                        "addresses": [
                          {
                            "channel": "push",
                            "address": "comms_deviceregistrations_01h9krwprkeee8fzqspvwy6nq8"
                          },
                          {
                            "channel": "phone",
                            "address": "+37259000022"
                          }
                        ]
                      }
                    ]
                  }
                },
                "CreateAContactWithPushDeviceTokensFor2DifferentMobileApps": {
                  "summary": "Create a Contact with push device tokens for 2 different mobile apps",
                  "value": {
                    "contacts": [
                      {
                        "first_name": "David",
                        "last_name": "Pletnjov",
                        "display_name": "David Pletnjov",
                        "addresses": [
                          {
                            "channel": "push",
                            "address": "comms_deviceregistrations_01h9krwprkeee8fzqspvwy6nq8"
                          },
                          {
                            "channel": "push",
                            "address": "comms_deviceregistrations_8fzqspvwy6nq801h9krwprkeee"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Contacts",
        "operationId": "ListContacts",
        "description": "This operation fetches a paginated list of Contacts.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "operation_id",
            "description": "Filter to Contacts by operation ID.",
            "schema": {
              "$ref": "#/components/schemas/OperationId"
            }
          },
          {
            "in": "query",
            "name": "contact_ids",
            "description": "List of contact ids for filtering the contacts.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ContactId"
              },
              "minItems": 1,
              "maxItems": 100
            }
          },
          {
            "in": "query",
            "name": "page_token",
            "description": "The token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of resources to return in a page.",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Match contacts by one or many tags. If more than one tag is specified in the query, the search will return contacts that have all the tags.\nFor Example:  ``` GET /Contacts?tags=age_group:20s;industry:engineering; ```",
            "schema": {
              "$ref": "#/components/schemas/TagsString"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListContactsResponse",
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  },
                  "required": [
                    "contacts",
                    "pagination"
                  ]
                },
                "examples": {
                  "FirstPageOfContactsForListReadWithNoFilter": {
                    "summary": "First page of Contacts for list read with no filter",
                    "value": {
                      "contacts": [
                        {
                          "id": "comms_contact_01h9krwprkeee8fzqspvwy6nq8",
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "display_name": "Jane Doe",
                          "user_identifier": "3c35422849fea46d37b099ae59fae22c",
                          "external_identifier": "006E0000004TguX",
                          "addresses": [
                            {
                              "channel": "email",
                              "address": "janedoe@example.com"
                            }
                          ],
                          "created_at": "2022-08-24T14:15:22Z",
                          "updated_at": "2023-09-13T12:00:24Z",
                          "deleted_at": null
                        },
                        {
                          "id": "comms_contact_01h9krwprkeee8fzqspvwy6nq8",
                          "first_name": "Don",
                          "last_name": "Conama",
                          "related": [
                            {
                              "name": "operation",
                              "id": "comms_operation_01h9krwprkeee8fzqspvwy6nq8",
                              "uri": "/Contacts/Operations/comms_operation_01h9krwprkeee8fzqspvwy6nq8"
                            }
                          ],
                          "display_name": "Don Conama",
                          "user_identifier": "don.conama@example.com",
                          "external_identifier": "006E0000004TguX",
                          "addresses": [
                            {
                              "channel": "email",
                              "address": "don.conama@example.com"
                            }
                          ],
                          "created_at": "2019-08-24T14:15:22Z",
                          "updated_at": "2023-08-24T14:15:22Z",
                          "deleted_at": null,
                          "custom_fields": {
                            "favorite_color": {
                              "value": "purple"
                            },
                            "favorite_number": {
                              "value": 42
                            },
                            "is_favorite_color_purple": {
                              "value": true
                            }
                          }
                        }
                      ],
                      "pagination": {
                        "next": "page_01h9krwprkeee8fzqspvwy6nq9",
                        "self": "https://comms.twilio.com/v1/Contacts"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Contacts/{contact_id}": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/ContactId"
          },
          "name": "contact_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Fetch a Contact",
        "operationId": "FetchSingleContact",
        "description": "This operation fetches a single contact using its ID.",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                },
                "examples": {
                  "FetchContact": {
                    "summary": "Fetch Contact",
                    "value": {
                      "id": "comms_contact_01h9krwprkeee8fzqspvwy6nq8",
                      "first_name": "Ivan",
                      "last_name": "Lee",
                      "display_name": "Ivan Lee",
                      "user_identifier": "3c35422849fea46d37b099ae59fae22c",
                      "external_identifier": "006E0000004TguX",
                      "addresses": [
                        {
                          "channel": "phone",
                          "address": "+37259000000"
                        },
                        {
                          "channel": "email",
                          "address": "ilee@example.com"
                        },
                        {
                          "channel": "push",
                          "address": "limonade_app"
                        }
                      ],
                      "created_at": "2019-08-24T14:15:22Z",
                      "updated_at": "2023-10-02T11:20:00Z",
                      "deleted_at": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      },
      "patch": {
        "summary": "Update a Contact",
        "operationId": "UpdateContact",
        "description": "This operation partially updates a Contact",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateContactRequest",
                "type": "object",
                "nullable": true,
                "properties": {
                  "first_name": {
                    "description": "The first name of the Contact.",
                    "type": "string"
                  },
                  "last_name": {
                    "description": "The last name of the Contact.",
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "The name associated with the address for sending and receiving communications, visible for some types of communications like email."
                  },
                  "addresses": {
                    "title": "UpdateContactAddresses",
                    "description": "This replaces the `addresses` array. \nLeave `null` to leave addresses unchanged.\nSet to empty array to remove all addresses.\nTo add/remove individual addresses use the Contact Addresses API endpoints.",
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "$ref": "#/components/schemas/ContactAddress"
                    }
                  },
                  "tags": {
                    "$ref": "#/components/schemas/TagsNullable"
                  },
                  "custom_fields": {
                    "$ref": "#/components/schemas/ContactCustomFieldsNullable"
                  }
                }
              },
              "examples": {
                "UpdateContactAddresses": {
                  "summary": "Update Contact addresses",
                  "value": {
                    "addresses": [
                      {
                        "channel": "phone",
                        "address": "+37259000000"
                      },
                      {
                        "channel": "email",
                        "address": "ipletnjov@example.com"
                      }
                    ]
                  }
                },
                "UpdateContactTags": {
                  "summary": "Update Contact tags",
                  "value": {
                    "tags": {
                      "shirt_size": "X-Large"
                    }
                  }
                },
                "UpdateContactCustomFields": {
                  "summary": "Update Contact custom fields",
                  "value": {
                    "custom_fields": {
                      "favorite_color": {
                        "value": "purple"
                      },
                      "favorite_number": {
                        "value": 42
                      },
                      "is_favorite_color_purple": {
                        "value": true
                      },
                      "colors": {
                        "value": [
                          "purple",
                          "blue",
                          "green"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Contact",
        "operationId": "DeleteContact",
        "description": "This operation deletes a Contact",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Contacts/{contact_id}/Addresses": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/ContactId"
          },
          "name": "contact_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "List of Contact Addresses",
        "operationId": "ListContactAddresses",
        "description": "This operation fetches list of contact addresses",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListContactAddressesResponse",
                  "type": "object",
                  "properties": {
                    "addresses": {
                      "title": "ListContactAddressesResponseAddresses",
                      "description": "List of the provided `Contact`'s communication addresses",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactAddress"
                      }
                    }
                  },
                  "required": [
                    "addresses"
                  ]
                },
                "examples": {
                  "ListOfContactAddresses": {
                    "summary": "List of contact addresses",
                    "value": {
                      "addresses": [
                        {
                          "channel": "email",
                          "address": "beetlejuice@example.com"
                        },
                        {
                          "channel": "phone",
                          "address": "+37259000000"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      },
      "post": {
        "summary": "Add Addresses to the Contact",
        "operationId": "AddContactAddresses",
        "description": "This operation adds addresses to the contact",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "AddContactAddressesRequest",
                "type": "object",
                "properties": {
                  "addresses": {
                    "title": "AddContactAddressesRequestAddresses",
                    "description": "A list of communication addresses to add to the `Contact`",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContactAddress"
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "addresses"
                ]
              },
              "examples": {
                "AddAddressesToTheContact": {
                  "summary": "Add addresses to the Contact",
                  "value": {
                    "addresses": [
                      {
                        "channel": "phone",
                        "address": "+37259000000"
                      }
                    ]
                  }
                },
                "AddMultipleAddressesToTheContact": {
                  "summary": "Add multiple addresses to the Contact",
                  "value": {
                    "addresses": [
                      {
                        "channel": "phone",
                        "address": "+37259000000"
                      },
                      {
                        "channel": "push",
                        "address": "limonade_app"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Addresses from the Contact",
        "operationId": "DeleteContactAddresses",
        "description": "This operation deletes Contact Addresses",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "DeleteContactAddressesRequest",
                "type": "object",
                "properties": {
                  "addresses": {
                    "title": "DeleteContactAddressesRequestAddresses",
                    "type": "array",
                    "items": {
                      "title": "DeleteContactAddressesRequestAddressItem",
                      "type": "object",
                      "description": "A list of communication addresses to remove from the `Contact`",
                      "properties": {
                        "channel": {
                          "$ref": "#/components/schemas/ContactCommunicationChannel"
                        },
                        "address": {
                          "$ref": "#/components/schemas/Address"
                        }
                      }
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "addresses"
                ]
              },
              "examples": {
                "DeleteContactPhoneAddress": {
                  "summary": "Delete Contact phone address",
                  "value": {
                    "addresses": [
                      {
                        "channel": "phone",
                        "address": "+37259000000"
                      }
                    ]
                  }
                },
                "DeleteAllContactEmailAddresses": {
                  "summary": "Delete all email addresses for Contact",
                  "value": {
                    "addresses": [
                      {
                        "channel": "email"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Contacts/{contact_id}/Tags": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/ContactId"
          },
          "name": "contact_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "List of Contact Tags",
        "operationId": "ListContactTags",
        "description": "This operation fetches list of contact tags",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListContactTagsResponse",
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "object",
                      "$ref": "#/components/schemas/Tags"
                    }
                  },
                  "required": [
                    "tags"
                  ]
                },
                "examples": {
                  "ListOfContactTags": {
                    "summary": "List of contact tags",
                    "value": {
                      "tags": {
                        "campaign1": "fb-leads-ad-7",
                        "campaign2": "fb-leads-ad-8"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      },
      "post": {
        "summary": "Add Tags to the Contact",
        "operationId": "AddContactTags",
        "description": "This operation adds tags to the contact",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "AddContactTagRequest",
                "type": "object",
                "properties": {
                  "tags": {
                    "$ref": "#/components/schemas/Tags"
                  }
                },
                "required": [
                  "tags"
                ]
              },
              "examples": {
                "AddTagsToTheContact": {
                  "summary": "Add tags to the Contact",
                  "value": {
                    "tags": {
                      "campaign1": "fb-leads-ad-7",
                      "campaign2": "fb-leads-ad-8"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Tags from the Contact",
        "operationId": "DeleteContactTags",
        "description": "This operation deletes Contact Tags",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "DeleteContactTagsRequest",
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "description": "The list of tag keys to be deleted from the contact",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "DeleteContactTags": {
                  "summary": "Delete Contact tags",
                  "value": {
                    "tags": [
                      "fb-leads-ad-7",
                      "fb-leads-ad-8"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Contacts/Search": {
      "post": {
        "summary": "Search Contacts",
        "operationId": "SearchContacts",
        "description": "Search for contacts based on the specified criteria.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page_token",
            "description": "The token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of resources to return in a page.",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SearchContactsResponse",
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  },
                  "required": [
                    "contacts",
                    "pagination"
                  ]
                },
                "examples": {
                  "PageOfContactsForTheSearch": {
                    "summary": "First page of Contacts for the search request",
                    "value": {
                      "contacts": [
                        {
                          "id": "comms_contact_01h9krwprkeee8fzqspvwy6nq8",
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "display_name": "Jane Doe",
                          "user_identifier": "3c35422849fea46d37b099ae59fae22c",
                          "external_identifier": "006E0000004TguX",
                          "addresses": [
                            {
                              "channel": "email",
                              "address": "jane.doe@example.com"
                            }
                          ],
                          "created_at": "2022-08-24T14:15:22Z",
                          "updated_at": "2023-09-13T12:00:24Z",
                          "deleted_at": null
                        },
                        {
                          "id": "comms_contact_01h9krwprkeee8fzqspvwy6nq8",
                          "first_name": "john",
                          "last_name": "doe",
                          "related": [
                            {
                              "name": "operation",
                              "id": "comms_operation_01h9krwprkeee8fzqspvwy6nq8",
                              "uri": "/Contacts/Operations/comms_operation_01h9krwprkeee8fzqspvwy6nq8"
                            }
                          ],
                          "display_name": "John Doe",
                          "user_identifier": "john.doe@example.com",
                          "external_identifier": "006E0000004TguX",
                          "addresses": [
                            {
                              "channel": "email",
                              "address": "beetlejuice@example.com"
                            }
                          ],
                          "created_at": "2019-08-24T14:15:22Z",
                          "updated_at": "2023-08-24T14:15:22Z",
                          "deleted_at": null
                        }
                      ],
                      "pagination": {
                        "next": "page_01h9krwprkeee8fzqspvwy6nq9",
                        "self": "https://comms.twilio.com/v1/Contacts/Search"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SearchContactsRequest",
                "type": "object",
                "properties": {
                  "channels": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CommunicationChannel"
                    },
                    "description": "Match contacts with by their communications channel of the Contact (phone number, email, push device token). If more than one channel is specified in the query, the search will return contacts that have all the channels."
                  },
                  "address": {
                    "type": "string",
                    "description": "Match contacts with the exact address specified."
                  },
                  "user_identifier": {
                    "$ref": "#/components/schemas/UserIdentifier"
                  },
                  "first_name": {
                    "description": "Match contacts by their first name. This field is fuzzy and case insensitive. If you search for \"JohN\", you will get \"John\", \"Johnny\", \"Johnathan\", etc. If you search for \"tan\", you will get \"Johnathan\", \"Stanley\", etc. You must specify at least three characters to begin the search.",
                    "type": "string",
                    "minLength": 3
                  },
                  "last_name": {
                    "description": "Match contacts by their last name. This field is fuzzy and case insensitive, so if you search for \"cOn\", you will get \"Conama\", \"Conan\", \"Conrad\", etc. If you search for \"mon\", you will get \"Montoya\", \"Lemon\", etc. You must specify at least three characters to begin the search.",
                    "type": "string",
                    "minLength": 3
                  },
                  "tags": {
                    "description": "Match contacts by one or many tags. If more than one tag is specified, the search will return contacts that have all the tags.",
                    "$ref": "#/components/schemas/Tags"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Contacts/Operations": {
      "get": {
        "summary": "List Contact Operations",
        "operationId": "ListContactOperations",
        "description": "This operation fetches a paginated list of Contact Operations.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "description": "Filter to Operations with the specified status.",
            "schema": {
              "$ref": "#/components/schemas/OperationStatus"
            }
          },
          {
            "in": "query",
            "name": "page_token",
            "description": "The token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of resources to return in a page.",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListContactOperationsResponse",
                  "type": "object",
                  "properties": {
                    "operations": {
                      "type": "array",
                      "description": "A list of Contact Operations.",
                      "items": {
                        "$ref": "#/components/schemas/ContactOperation"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  },
                  "required": [
                    "operations",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Contacts/Operations/{operation_id}": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/OperationId"
          },
          "name": "operation_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Fetch a Contact Operation",
        "operationId": "FetchContactOperation",
        "description": "This operation fetches a single Contact Operation using its ID.",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactOperation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Contacts/Fields": {
      "post": {
        "summary": "Create a New Contact Custom Field",
        "operationId": "CreateContactCustomField",
        "description": "Create a new Contact Custom Field.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "description": "This operation creates a new Contact Custom Field.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContactFieldString"
                  },
                  {
                    "$ref": "#/components/schemas/ContactFieldNumber"
                  },
                  {
                    "$ref": "#/components/schemas/ContactFieldBoolean"
                  },
                  {
                    "$ref": "#/components/schemas/ContactFieldStringArray"
                  },
                  {
                    "$ref": "#/components/schemas/ContactFieldEnum"
                  }
                ]
              },
              "examples": {
                "StringCustomField": {
                  "summary": "Create a contact custom field of type string",
                  "value": {
                    "name": "favorite_color",
                    "type": "string"
                  }
                },
                "BooleanCustomField": {
                  "summary": "Create a contact custom field of type boolean",
                  "value": {
                    "name": "is_purple_my_favorite_color",
                    "type": "boolean"
                  }
                },
                "NumberCustomField": {
                  "summary": "Create a contact custom field of type number",
                  "value": {
                    "name": "favorite_number",
                    "type": "number"
                  }
                },
                "EnumCustomField": {
                  "summary": "Create a contact custom field of type enum",
                  "value": {
                    "name": "favorite_sport",
                    "type": "enum",
                    "values": [
                      "soccer",
                      "football",
                      "baseball",
                      "hockey",
                      "basketball",
                      "pickle ball"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      },
      "get": {
        "summary": "List Contact Fields",
        "operationId": "ListContactFields",
        "description": "List all contact fields, both custom and standard.",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListContactsFieldsResponse",
                  "type": "object",
                  "properties": {
                    "fields": {
                      "description": "List of standard contact fields, these fields are always present.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactStandardField"
                      }
                    },
                    "custom_fields": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactCustomField"
                      },
                      "maxItems": 10
                    }
                  }
                },
                "examples": {
                  "GetContactsFields": {
                    "summary": "Get Contact Fields",
                    "value": {
                      "fields": [
                        {
                          "name": "first_name",
                          "type": "string",
                          "is_filterable": true
                        },
                        {
                          "name": "last_name",
                          "type": "string",
                          "is_filterable": true
                        }
                      ],
                      "custom_fields": [
                        {
                          "id": "comms_customfield_01h9krwprkeee8fzqspvwy6nq8",
                          "name": "favorite_color",
                          "type": "string",
                          "values": [],
                          "is_filterable": false,
                          "created_at": "2019-08-24T14:15:22Z",
                          "updated_at": "2023-10-02T11:20:00Z",
                          "deleted_at": null
                        },
                        {
                          "id": "comms_customfield_01h9krwprkeee8fzqspvwy6nq9",
                          "name": "is_purple_my_favorite_color",
                          "type": "boolean",
                          "values": [],
                          "is_filterable": false,
                          "created_at": "2019-08-24T14:15:22Z",
                          "updated_at": "2023-10-02T11:20:00Z",
                          "deleted_at": null
                        },
                        {
                          "id": "comms_customfield_01h9krwprkeee8fzqspvwy6nq7",
                          "name": "favorite_number",
                          "type": "string",
                          "values": [],
                          "is_filterable": false,
                          "created_at": "2019-08-24T14:15:22Z",
                          "updated_at": "2023-10-02T11:20:00Z",
                          "deleted_at": null
                        },
                        {
                          "id": "comms_customfield_01h9krwprkeee8fzqspvwy6nq6",
                          "name": "favorite_sports",
                          "type": "enum",
                          "values": [
                            "soccer",
                            "football",
                            "baseball",
                            "hockey",
                            "basketball",
                            "pickle ball"
                          ],
                          "is_filterable": false,
                          "created_at": "2019-08-24T14:15:22Z",
                          "updated_at": "2023-10-02T11:20:00Z",
                          "deleted_at": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Contacts/Fields/{custom_field_id}": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/ContactCustomFieldId"
          },
          "name": "custom_field_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Fetch a Contact Field",
        "operationId": "FetchSingleContactField",
        "description": "This operation fetches a single contact field using its ID. *Currently it's only applicable to custom fields.*",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactCustomField"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      },
      "patch": {
        "summary": "Update a Contact Custom Field",
        "operationId": "UpdateContactCustomField",
        "description": "This operation partially updates a Contact Custom Field",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateContactCustomFieldRequest",
                "type": "object",
                "properties": {
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "UpdateContactCustomFieldValues": {
                  "summary": "Update Contact Custom Field values",
                  "value": {
                    "values": [
                      "purple",
                      "red",
                      "green"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Contact Custom Field",
        "operationId": "DeleteContactCustomField",
        "description": "This operation deletes a Contact Custom Field.",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Audiences": {
      "post": {
        "summary": "Create an Audience",
        "operationId": "CreateAudience",
        "description": "This operation creates an Audience. There are three different types of audiences.\n- **Static Audience** - This is the standard type of audience. It is created with a name,\n  optionally some tags and then Contacts are manually added or removed from it.\n\n- **Dynamic Audience** - This is an audience whose Contact list is made up based upon a filter.\n  The filter is required and the results of the filter are the audience. It is not possible to\n  manually add/remove contacts to this audience. When you go to list the contacts on this\n  audience they are a close-to-real-time representation of the results of the filter. This means\n  that if the audience has a filter where  `favorite_color = 'purple'` and that field is set\n  on a new contact it should appear in the audience as soon as possible. The filter for this\n  audience is saved on the audience and can be viewed from the API.\n\n  Filters can contain the standard fields: `created_at`, `updated_at`, `addresses.channel`, `location.city`,\n  `location.state`, `location.country_code`. Filters can also check for the presence of tags by key\n  `Contact.tags = 'NAMER'`, and they can use custom fields that are marked as `is_filterable = true`.\n\n\n- **Snapshot Audience** - This behaves like the default audience after it has been created, but\n  it allows for a powerful way to pre-populate the audience with contacts upon creation.\n  This is done by providing a filter when creating the audience and setting the snapshot field\n  to true. The contacts that match the filter will be added to the list, but if a contact matches\n  later to the filter it will need to be added manually. Contacts can be added and removed manually\n  to the list after they have been created. The filter for this audience is not saved on the audience\n  as it is a one time operation.\n\n  Filters can contain the standard fields: `created_at`, `updated_at`, `addresses.channel`, `location.city`,\n  `location.state`, `location.country_code`. Filters can also check for the presence of tags by key\n  `Contact.tags = 'NAMER'`, and they can use custom fields that are marked as `is_filterable = true`.",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithOperation"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateAudienceRequest",
                "type": "object",
                "description": "This operation creates Audiences.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A name for the Audience."
                  },
                  "filter": {
                    "$ref": "#/components/schemas/AudienceFilter"
                  },
                  "snapshot": {
                    "type": "boolean",
                    "description": "If true, the Audience will be created with the current Contacts that match the filter.\n*The audience will not be updated as contacts change in the future and the filter is not saved for reference later.*"
                  },
                  "tags": {
                    "x-twilio-version": "preview",
                    "$ref": "#/components/schemas/Tags"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "CreateAudience": {
                  "summary": "Create Audience",
                  "value": {
                    "name": "FB Lead Ads - New Sign Ups",
                    "tags": {
                      "campaign": "fb-leads-ad-7"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Audiences",
        "operationId": "ListAudiences",
        "description": "This operation fetches a paginated list of Audiences.",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "operation_id",
            "description": "Filter to Audiences by operation ID.",
            "schema": {
              "$ref": "#/components/schemas/OperationId"
            }
          },
          {
            "in": "query",
            "name": "page_token",
            "description": "The token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of resources to return in a page.",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Match audiences by one or many tags. If more than one tag is specified in the query, the search will return audiences that have all the tags.\nFor example: ``` GET /Audiences?tags=age_group:20s;industry:engineering; ```",
            "schema": {
              "$ref": "#/components/schemas/TagsString"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListAudiencesResponse",
                  "type": "object",
                  "properties": {
                    "audiences": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Audience"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  },
                  "required": [
                    "audiences",
                    "pagination"
                  ]
                },
                "examples": {
                  "ListAudiences": {
                    "summary": "List Audiences",
                    "value": {
                      "audiences": [
                        {
                          "id": "comms_audience_01h9krwprkeee8fzqspvwy6nq8",
                          "name": "Repeat Buyers",
                          "total_contacts": 1337,
                          "tags": {
                            "country_code": "US"
                          },
                          "created_at": "2023-08-24T14:15:22Z",
                          "updated_at": "2023-08-24T14:15:22Z",
                          "deleted_at": null
                        },
                        {
                          "id": "comms_audience_01h9krwprkeee8fzqspvwy6nq9",
                          "name": "Technology & Finance Contacts",
                          "total_contacts": 78,
                          "filter": "Contact.location.country_code == 'US' AND Contact.custom_fields.industry IN('Technology', 'Finance')",
                          "tags": {},
                          "created_at": "2023-08-24T14:15:22Z",
                          "updated_at": "2023-08-24T14:15:22Z",
                          "deleted_at": null
                        }
                      ],
                      "pagination": {
                        "next": null,
                        "self": "https://comms.twilio.com/v1/Audiences"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Audiences/{audience_id}": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/AudienceId"
          },
          "name": "audience_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Fetch an Audience",
        "operationId": "FetchSingleAudience",
        "description": "This operation fetches a single Audience using its ID.",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                },
                "examples": {
                  "StaticAudience": {
                    "summary": "Static Audience",
                    "value": {
                      "id": "comms_audience_01h9krwprkeee8fzqspvwy6nq8",
                      "name": "Repeat Buyers",
                      "total_contacts": 1337,
                      "tags": {
                        "country_code": "US"
                      },
                      "created_at": "2023-08-24T14:15:22Z",
                      "updated_at": "2023-08-24T14:15:22Z",
                      "deleted_at": null
                    }
                  },
                  "DynamicAudience": {
                    "summary": "Dynamic Audience",
                    "value": {
                      "id": "comms_audience_01h9krwprkeee8fzqspvwy6nq9",
                      "name": "Technology & Finance Contacts",
                      "total_contacts": 78,
                      "filter": "Contact.location.country_code == 'US' AND Contact.custom_fields.industry IN('Technology', 'Finance')",
                      "tags": {},
                      "created_at": "2023-08-24T14:15:22Z",
                      "updated_at": "2023-08-24T14:15:22Z",
                      "deleted_at": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      },
      "patch": {
        "summary": "Update an Audience",
        "operationId": "UpdateAudience",
        "description": "This operation partially updates an Audience",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateAudienceRequest",
                "type": "object",
                "nullable": true,
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "filter": {
                    "$ref": "#/components/schemas/AudienceFilter"
                  },
                  "tags": {
                    "x-twilio-version": "preview",
                    "$ref": "#/components/schemas/TagsNullable"
                  }
                }
              },
              "examples": {
                "UpdateAudienceSName": {
                  "summary": "Update Audience's name",
                  "value": {
                    "name": "New Name"
                  }
                },
                "UpdateAudienceSTags": {
                  "summary": "Update Audience's tags",
                  "value": {
                    "tags": {
                      "group_size": "X-Large"
                    }
                  }
                },
                "ChangeAnAudienceSFilter": {
                  "summary": "Change an Audience's filter",
                  "value": {
                    "filter": "Contact.location.country_code == 'US' AND Contact.custom_fields.industry IN('Technology', 'Telecom')"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Audience",
        "operationId": "DeleteAudience",
        "description": "This operation deletes an Audience using its ID.",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Audiences/{audience_id}/Contacts": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/AudienceId"
          },
          "name": "audience_id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Add Contacts to an Audience",
        "operationId": "AddContactsToAudience",
        "description": "This operation adds list of Contacts to an Audience",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "AddContactsToAudienceRequest",
                "type": "object",
                "properties": {
                  "contact_ids": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContactId"
                    }
                  }
                }
              },
              "examples": {
                "AddContactsToAudience": {
                  "summary": "Add Contacts to Audience",
                  "value": {
                    "contact_ids": [
                      "comms_contact_01h9krwprkeee8fzqspvwy6nq8",
                      "comms_contact_01h9krwprkeee8fzqspvwy6nq9"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Contacts in an Audience",
        "operationId": "ListContactsInAudience",
        "description": "This operation fetches a paginated list of Contacts that belong to an Audience.",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page_token",
            "description": "The token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of resources to return in a page.",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListContactsInAudienceResponse",
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  }
                },
                "examples": {
                  "PageOfContactsThatBelongToAnAudience": {
                    "summary": "Page of Contacts that belong to an Audience",
                    "value": {
                      "contacts": [
                        {
                          "id": "comms_contact_01h9krwprkeee8fzqspvwy6nq8",
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "display_name": "Jane Doe",
                          "addresses": [
                            {
                              "channel": "email",
                              "address": "jane.doe@example.com"
                            }
                          ],
                          "audiences": [
                            {
                              "audience_id": "comms_audience_01h9krwprkeee8fzqspvwy6nq9"
                            }
                          ],
                          "created_at": "2019-08-24T14:15:22Z",
                          "updated_at": "2019-08-24T14:15:22Z",
                          "deleted_at": null
                        },
                        {
                          "id": "comms_contact_01h9krwprkeee8fzqspvwy6nq8",
                          "first_name": "John",
                          "last_name": "Doe",
                          "display_name": "John Doe",
                          "addresses": [
                            {
                              "channel": "email",
                              "address": "john.doe@example.com"
                            }
                          ],
                          "audiences": [
                            {
                              "audience_id": "comms_audience_01h9krwprkeee8fzqspvwy6nq9"
                            }
                          ],
                          "created_at": "2019-08-24T14:15:22Z",
                          "updated_at": "2019-08-24T14:15:22Z",
                          "deleted_at": null
                        }
                      ],
                      "pagination": {
                        "next": null,
                        "self": "https://comms.twilio.com/v1/Audiences/comms_audience_01h9krwprkeee8fzqspvwy6nq9/Contacts"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Audiences/{audience_id}/Contacts/{contact_id}": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/AudienceId"
          },
          "name": "audience_id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "$ref": "#/components/schemas/ContactId"
          },
          "name": "contact_id",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "summary": "Remove a Contact from an Audience",
        "operationId": "RemoveContactFromAudience",
        "description": "This operation removes a Contact from an Audience",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Audiences/{audience_id}/Tags": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/AudienceId"
          },
          "name": "audience_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "List of Audience Tags",
        "operationId": "ListAudienceTags",
        "description": "This operation fetches list of audience tags",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListAudienceTagsResponse",
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "object",
                      "$ref": "#/components/schemas/Tags"
                    }
                  },
                  "required": [
                    "tags"
                  ]
                },
                "examples": {
                  "ListOfAudienceTags": {
                    "summary": "List of audience tags",
                    "value": {
                      "tags": {
                        "campaign1": "fb-leads-ad-7",
                        "campaign2": "fb-leads-ad-8"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      },
      "post": {
        "summary": "Add Tags to an Audience",
        "operationId": "AddAudienceTags",
        "description": "This operation adds tags to an Audience",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "AddAudienceTagsRequest",
                "type": "object",
                "properties": {
                  "tags": {
                    "x-twilio-version": "preview",
                    "$ref": "#/components/schemas/Tags"
                  }
                },
                "required": [
                  "tags"
                ]
              },
              "examples": {
                "AddTagsToTheAudience": {
                  "summary": "Add Tags to an Audience",
                  "value": {
                    "tags": {
                      "campaign1": "fb-leads-ad-7",
                      "campaign2": "fb-leads-ad-8"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Tags from an Audience",
        "operationId": "DeleteAudienceTags",
        "description": "This operation deletes Tags from an Audience",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithResource"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "DeleteAudienceTagsRequest",
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "description": "The list of tag keys to be deleted from an Audience",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "DeleteAudienceTags": {
                  "summary": "Delete Audience tags",
                  "value": {
                    "tags": [
                      "fb-leads-ad-7",
                      "fb-leads-ad-8"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Audiences/Operations": {
      "get": {
        "summary": "List Audience Operations",
        "operationId": "ListAudienceOperations",
        "description": "This operation fetches a paginated list of Audience Operations.",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "description": "Filter to Operations with the specified status.",
            "schema": {
              "$ref": "#/components/schemas/OperationStatus"
            }
          },
          {
            "in": "query",
            "name": "page_token",
            "description": "The token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/PageToken"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of resources to return in a page.",
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListAudienceOperationsResponse",
                  "type": "object",
                  "properties": {
                    "operations": {
                      "type": "array",
                      "description": "A list of Audience Operations.",
                      "items": {
                        "$ref": "#/components/schemas/ContactOperation"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  },
                  "required": [
                    "operations",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Audiences/Operations/{operation_id}": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/components/schemas/OperationId"
          },
          "name": "operation_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Fetch an Audience Operation",
        "operationId": "FetchAudienceOperation",
        "description": "This operation fetches a single Audience Operation using its ID.",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactOperation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "404": {
            "$ref": "#/components/responses/Http404Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        }
      }
    },
    "/Emails": {
      "post": {
        "summary": "Send Emails",
        "operationId": "SendEmails",
        "description": "This operation creates and sends out emails to the specified recipients.",
        "tags": [
          "Emails"
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/Http202ResponseWithOperation"
          },
          "400": {
            "$ref": "#/components/responses/Http400Response"
          },
          "429": {
            "$ref": "#/components/responses/Http429Response"
          },
          "500": {
            "$ref": "#/components/responses/Http500Response"
          },
          "503": {
            "$ref": "#/components/responses/Http503Response"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SendEmailsRequest",
                "type": "object",
                "description": "A request to send one or more Emails.",
                "properties": {
                  "from": {
                    "title": "SendEmailsRequestFrom",
                    "description": "The sending identity to associate with the `Email`.\n\n- Use `EmailAddressSender` to directly specify the email address that the Email\n   will appear to come 'from'.",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/EmailAddressSender"
                      }
                    ]
                  },
                  "to": {
                    "title": "SendEmailsRequestTo",
                    "type": "array",
                    "description": "A list of recipients to send the email(s) to.",
                    "items": {
                      "title": "SendEmailsRecipient",
                      "oneOf": [
                        {
                          "title": "SendEmailsAddressRecipient",
                          "description": "An email address and associated name that define a recipient.",
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "The email address of the person or entity.",
                              "format": "email"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the person or entity."
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "address"
                          ]
                        },
                        {
                          "title": "SendEmailsProfileRecipient",
                          "type": "object",
                          "description": "A Twilio `Profile` identified by ID & Memory Service ID.",
                          "properties": {
                            "profile_id": {
                              "$ref": "#/components/schemas/ProfileId"
                            },
                            "service_id": {
                              "$ref": "#/components/schemas/MemoryServiceId"
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "profile_id",
                            "service_id"
                          ]
                        },
                        {
                          "title": "SendEmailsContactRecipient",
                          "type": "object",
                          "description": "A Twilio `Contact` identified by `Contact.Id`.",
                          "properties": {
                            "contact_id": {
                              "$ref": "#/components/schemas/ContactId"
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "contact_id"
                          ]
                        },
                        {
                          "title": "SendEmailsGroupRecipient",
                          "type": "object",
                          "description": "A group recipient contains a list of recipients \nand one set of personalization variables for the group.",
                          "properties": {
                            "group": {
                              "title": "SendEmailsGroup",
                              "description": "The group of recipients to send the email to.",
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "$ref": "#/components/schemas/EmailAddressRecipient"
                                  },
                                  {
                                    "$ref": "#/components/schemas/ProfileRecipient"
                                  },
                                  {
                                    "$ref": "#/components/schemas/ContactRecipient"
                                  }
                                ]
                              }
                            },
                            "variables": {
                              "$ref": "#/components/schemas/ContentPersonalization"
                            }
                          },
                          "required": [
                            "group"
[...]
